{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Modificar invitación{% endblock %}

{% block content %}

<form action="{{ path('invitaciones_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <strong> Advertencia: el cambio de instancia de evento no envía nuevamente la invitación al docente</strong> 
    {{ form_row(edit_form.instanciaEvento) }}
    {{ form_row(edit_form.proyecto) }}
    
    {{ form_rest(edit_form) }}
    <p>
        <button type="submit">Modificar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('invitaciones') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <form action="{{ path('invitaciones_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}
