<h1>PresentacionExterna</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Titulo</th>
            <td>{{ entity.titulo }}</td>
        </tr>
        <tr>
            <th>Escuela</th>
            <td>{{ entity.escuela }}</td>
        </tr>
        <tr>
            <th>Provincia</th>
            <td>{{ entity.provincia }}</td>
        </tr>
        <tr>
            <th>Localidad</th>
            <td>{{ entity.localidad }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('presentacionexterna') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('presentacionexterna_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('presentacionexterna_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
