{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Datos del voluntario{% endblock %}
 
{% block content %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Apellido</th>
            <td>{{ entity.apellido }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ entity.telefono }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Domicilio</th>
            <td>{{ entity.domicilio }}</td>
        </tr>
        <tr>
            <th>Observaciones</th>
            <td>{{ entity.observaciones }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('voluntario') }}">
            Ir al listado
        </a>
    </li>
    <li>
        <a href="{{ path('voluntario_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('voluntario_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>
{% endblock %}