{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Editar mi perfil{% endblock %}

{% block fos_user_content %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
{{ form_row(form.user) }}
{{ form_row(form.user.nombre) }}
{{ form_row(form.user.apellido) }}
{% include "CpmJovenesBundle:Default:localidad_distrito_form.html.twig" %}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>


{% endblock fos_user_content %}
