{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}
{% import "CpmJovenesBundle:Common:macros.html.twig" as macros %}
{% block title %}Tanda{% endblock %}

{% block content %}
<ul class="record_actions" style="float:right">
    <li>
        <a href="{{ path('tanda') }}">
            Volver al listado
        </a>
    </li>
	<li>
    	<a href="{{ path('index_cronograma') }}#/tanda/{{entity.id}}">Cronograma</a>
    </li>
<!--    <li>
        <a href="{{ path('tanda_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>-->
    <li>
        <a href="#" onclick="$('.hiddenForm').hide(); $('#exportExcelForm').toggle(); return false;">
            Exportar
        </a>
    </li>

    
    <li>
        <form action="{{ path('tanda_delete', { 'id': entity.id }) }}" method="post"
        onsubmit="return confirm('Esta seguro que desea eliminar la Tanda? Guarda que se pierde todo');">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
    
    </ul>
  <div class="hiddenForms">
	
	  <div class="hiddenForm" id="exportExcelForm">
	            <form method="get" action="{{ path('tanda_export_excel_and_word') }}">
	            	<label for="sort_fn">Orden</label>
		            <select name="sort_fn">
		            	<option value="sortByCoordinadorApellido"> Por apellido del coordinador</option>
		            	<option value="sortByDiaBloque"> Por dia y bloque</option>
		            </select>
		            <br/>
		            <label for="format">Formato</label>
		            <select name="format">
		            	<option value="word">Word</option>
		            	<option value="csv">Excel</option>
		            </select>
                    <br/>
                    <Label for="includeProjectIds">Incluir IDs de proyectos:</Label>
                    <input type="checkbox" name="includeProjectIds" />
		            <input type="hidden" name="tanda_id" value="{{ entity.id }}" />
		            <br/><button type="submit">Exportar</button>
	            </form>
	    </div>
  
</div>


<table class="record_properties">
    <tbody>
        <tr>
            <th>Numero</th>
            <td>{{ entity.numero }}</td>
        </tr>
        <tr>
        	<th>Instancia de evento</th>
        	<td> <a href="{{  path('instancia_show',{'id': entity.instanciaEvento.id}) }}">{{ entity.instanciaEvento }}</a></td>
        </tr>
        <tr>
            <th>Fecha de inicio</th>
            <td>{{ entity.fechaInicio|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>Fecha de fin</th>
            <td>{{ entity.fechaFin|date('d-m-Y') }}</td>
        </tr>

        <tr>
            <th>Presentaciones</th>
            <td>{{ entity.presentaciones|length }}</td>
        </tr>
        
        {{ macros.diasDeTanda(entity) }}

    </tbody>
</table>


	    
{% endblock %}
