{% extends "FOSUserBundle::layout.html.twig" %}

{% import "CpmJovenesBundle:Common:macros.html.twig" as common %}

{% block title %}Editar mi perfil{% endblock %}

{% block fos_user_content %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit"
onsubmit='return checkPerfilEditForm();'>

{{ form_row(form.user.nombre) }}
{{ form_row(form.user.apellido) }}
{{ form_row(form.user.email) }}
<div>
  <label for="confirm_email">Confirmar Email</label>
  <input type="text" id="confirm_email" name="confirm_email"
  onfocus="VerificarConfirmacionEmail($('#fos_user_registration_form_email'),$('#confirm_email'));"
  onblur="VerificarConfirmacionEmail($('#fos_user_registration_form_email'),$('#confirm_email'));">
</div>
{{ form_row(form.user) }}
{{ common.aniosParticipo('#fos_user_profile_form_user_aniosParticipo', form.user) }}

{% include "CpmJovenesBundle:Default:localidad_distrito_form.html.twig" %}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>

<<script type="text/javascript">
<!--
var $fb_url = $("#fos_user_profile_form_user_facebookURL");
var fb_hint = $fb_url.attr('title');
$fb_url.parent('div').append("<span> "+ fb_hint+"<span>");
//-->
</script>
{% endblock fos_user_content %}
