{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block content %}

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>¿se debe solicitar número de asistentes?</th>
            <th>¿se permite ingresar un suplente?</th>
            <th>¿se ofrece hospedaje? </th>
            <th>¿se ofrece viaje?</th>
            <th>¿se permite ingresar observaciones?</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('evento_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.titulo }}</td>
            <td>{{ entity.descripcion }}</td>
            <td>{{ entity.pedirNumeroAsistentes }}</td>
            <td>{{ entity.permitirSuplente }}</td>
            <td>{{ entity.ofrecerHospedaje }}</td>
            <td>{{ entity.ofrecerViaje }}</td>
            <td>{{ entity.permitirObservaciones }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('evento_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('evento_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    {% include "CpmJovenesBundle:Default:pagination.html.twig" %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('evento_new') }}">
            Crear nuevo evento
        </a>
    </li>
</ul>
{% endblock %}