{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Evento{% endblock %}

{% block content %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Título</th>
            <td>{{ entity.titulo }}</td>
        </tr>
        <tr>
            <th>Descripción</th>
            <td>{{ entity.descripcion }}</td>
        </tr>
        <tr>
            <th>Solicitar número de asistentes</th>
            <td>{{ entity.pedirNumeroAsistentes }}</td>
        </tr>
        <tr>
            <th>Permitir suplentes</th>
            <td>{{ entity.permitirSuplente }}</td>
        </tr>
        <tr>
            <th>Ofrecer hospedaje</th>
            <td>{{ entity.ofrecerHospedaje }}</td>
        </tr>
        <tr>
            <th>Ofrecer viaje</th>
            <td>{{ entity.ofrecerViaje }}</td>
        </tr>
        <tr>
            <th>Permitir observaciones</th>
            <td>{{ entity.permitirObservaciones }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('evento') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('evento_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('evento_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}