{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Modificar Instancia de Evento{% endblock %}

{% block content %}
<script src="{{ asset('js/dynamic_forms.js') }}" type="text/javascript"></script>
<script>

	$(function() {
		
		$("#cpm_jovenesbundle_instanciaeventotype_fechaCierreInscripcion_date").datepicker();
		definirIntervalo("cpm_jovenesbundle_instanciaeventotype_fechaInicio_date","cpm_jovenesbundle_instanciaeventotype_fechaFin_date");
//		definirIntervalo("cpm_jovenesbundle_instanciaeventotype_fechaCierreInscripcion_date","cpm_jovenesbundle_instanciaeventotype_fechaInicio_date");
		
	});
	</script>

<form action="{{ path('instancia_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

	{{ form_widget(edit_form) }}
    
    {% if preview_invitacion is defined %}
	<div class="preview_invitacion">
		<h4> Ejemplo de correo </h4>
		{{ preview_invitacion | raw}}
	</div>
	{% endif %}
    
    <p>
        <button type="submit">Editar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('instancia') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <form action="{{ path('instancia_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}
