{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Instancias de eventos{% endblock %}

{% block content %}

		{{ filter.form_head(form) }}
	    <label> Evento </label>{{form_widget(form.modelFilter.eventoFilter.evento ) }}
		{{ form_row(form.modelFilter.cicloFilter.ciclo ) }}
		{{ filter.form_buttons(form) }}

<br/>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Evento</th>
            <th>Lugar</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('instancia_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.evento.titulo }}</td>
            <td>{{ entity.lugar }}</td>
            <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('d-m-Y H:i:s') }}{% endif%}</td>
            <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('d-m-Y H:i:s') }}{% endif%}</td>
            <td>{{ entity.descripcion }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('instancia_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    {% if jym.puedeEditar(entity) %}
                    <li>
                        <a href="{{ path('instancia_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        
    {% endfor %}
    {% include "CpmJovenesBundle:Default:pagination.html.twig" %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('instancia_new') }}">
            Crear nueva instancia de evento
        </a>
    </li>
</ul>
{% endblock %}