{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Instancia de evento{% endblock %}

{% block content %}

<div class="left-panel">
	<table class="record_properties">
	    <tbody>
	        <tr>
	            <th>Evento</th>
	            <td>{{ entity.evento.titulo }}</td>
	        </tr>
	        <tr>
	            <th>Descripción</th>
	            <td>{{ entity.descripcion }}</td>
	        </tr>
	        <tr>
	            <th>Url</th>
	            <td>{{ entity.url }}</td>
	        </tr>
	        <tr>
	            <th>Lugar</th>
	            <td>{{ entity.lugar }}</td>
	        </tr>
	        <tr>
	            <th>Inicio</th>
	            <td>{{ entity.fechaInicio|date('d-m-Y H:i:s') }}</td>
	        </tr>
	        <tr>
	            <th>Fin</th>
	            <td>{{ entity.fechaFin|date('d-m-Y H:i:s') }}</td>
	        </tr>
	    </tbody>
	</table>
</div>

{# invitaciones enviadas para esta instancia del evento #}
{% set aceptaciones = 0 %}
{% set asistentes = 0 %}
{% set pendientes = 0 %}
{% set rechazadas = 0 %}
<div class="right-panel invitaciones" style="display:block; border:none; width: auto; min-width: 400px;">
	<div id='resumen-box'>
	<h4>Resumen:</h4>
	<ul class='listado-items' id="resumen">
	</ul>
	</div>
	<a href="#" style="float:right; font-weight:bold;" onclick="$('#invitaciones').toggle();">_</a>
	<h2>Invitaciones enviadas a esta instancia</h2>
	{% if entity.invitaciones | length > 0 %}
		<table class="records_properties" id="invitaciones">
		    <thead>
		        <tr>
		            <th>Id</th>
		            <th>Fecha</th>
		            <th>Aceptada</th>
		            {% if entity.evento.pedirNumeroAsistentes %}
		            <th>Asistentes</th>
		            {% endif %}
		            {% if entity.evento.permitirSuplente %}
		            <th>Suplente</th>
		            {% endif %}
		            {% if entity.evento.ofrecerHospedaje %}
		            <th>Requiere hospedaje</th>
		            {% endif %}
		            {% if entity.evento.ofrecerViaje %}
		            <th>Requiere pasaje</th>
		            {% endif %}
		            {% if entity.evento.permitirObservaciones %}
		            <th>Observaciones</th>
		            {% endif %}	          
		            <th> Asistió </th>  	            	            	            
		        </tr>
		    </thead>
		    <tbody>
	    	{% for inv in entity.invitaciones %}
		        <tr {% if inv.sinResponder %} class="pendiente" {% endif %}>
		            <td>{{ inv.id }}</th>
		            <td>{{ inv.fechaCreacion|date('d-m-Y H:i:s') }}</th>
		            <td  class="{% if inv.sinResponder %} ns_nc {% elseif inv.aceptoInvitacion %}yes{% else %}no{% endif %}"
		            			{% if inv.sinResponder %} colspan="100%" {% endif %}></td>
		            {% if not inv.sinResponder %}
				            {% if inv.aceptoInvitacion %}
				            {% set aceptaciones = aceptaciones + 1 %}
				            	{% if entity.evento.pedirNumeroAsistentes %}
				            	{% set asistentes = asistentes + inv.numeroAsistentes %}
					            	<td>{{ inv.numeroAsistentes }}</td>
					            {% else %}
					            	{% set asistentes = asistentes + 1 %}	
					        	{% endif %}
					            {% if entity.evento.permitirSuplente %}
					            	<td>{{ inv.suplente }}</th>
					            {% endif %}
					            {% if entity.evento.ofrecerHospedaje %}
					            	<td class="{% if inv.solicitaHospedaje %}yes{% else %}no{% endif %}"></td>
					            {% endif %}
					            {% if entity.evento.ofrecerViaje %}
						            <td class="{% if inv.solicitaViaje %}yes{% else %}no{% endif %}"></td>
					            {% endif %}
					            {% if entity.evento.permitirObservaciones %}
					            	<td>{{ inv.observaciones }}</td>
					            {% endif %}	  
					            <td class="{% if inv.asistio %}yes{% else %}no{% endif %}"></td>
					            
				            {% else %}
					            {% set rechazadas= rechazadas+1 %}	
					            <td colspan="100%" class="rechazada"> </td>
				            {% endif %}
				        <td colspan="100%">  </td>    
				        {% else %}
				        	{% set pendientes=pendientes+1 %}
				      {% endif %} {# inv.aceptoInvitacion #}      
		        </tr>
		        {% endfor %}
		</table>
	{% endif %} {# invitaciones > 0 #}	
		<script>
		$("#resumen").html('<li>Invitaciones enviadas: <span class="status">{{ entity.invitaciones | length}}</span></li> \
		<li>Invitaciones aceptadas: <span class="status"> {{ aceptaciones }}</span> </li> \
		<li>Invitaciones pendientes: <span class="status">{{ pendientes }}</span> </li> \
		<li>Invitaciones rechazadas: <span class="status">{{ rechazadas }}</span> </li> \
		<li>Cantidad de asistenes confirmados: <span class="status">{{asistentes }}</span> </li>');
		</script>
</div>	

<div style="width:100%; clear:both">
<ul class="record_actions">
    <li>
        <a href="{{ path('instancia') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('instancia_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('instancia_delete', { 'id': entity.id }) }}" method="post"
        	onsubmit="return confirm('Esta seguro que desea eliminar la instancia del evento?')">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
</div>

{% endblock %}