{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Archivos almacenados{% endblock %}
 
{% block content %}

{{ filter.form_head(form) }}
{{ form_row(form.modelFilter.nombre) }}
{{ form_row(form._token) }}
<button type="submit">Filtrar</button>
{{ filter.form_end(form) }}

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha de subida</th>
            <th>Nombre</th>
            <th>Código de descarga</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('archivo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.fechaCreado %}{{ entity.fechaCreado|date('d-m-Y H:i:s') }}{% endif%}</td>
            <td>{{ entity.nombre }}</td>
            <td><textarea cols="70" rows="4" style="width:auto; height:auto;">&lt;a href='{{ jym.getUrlSitio() }}{{ path('archivo_download', {'hash' : entity.hash } ) }}'&gt;{{ entity.nombre }}&lt;/a&gt;</textarea> </td>
            <td> 
                <ul>
                	<li> <a href="{{ path('archivo_download', {'hash' : entity.hash } ) }}">Descargar</a></li>
                    <li>
                        <a href="{{ path('archivo_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    {% include "CpmJovenesBundle:Default:pagination.html.twig" %}
    
    </tbody>
</table>

{% endblock %}