{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Auditorios{% endblock %}
 
{% block content %}

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Anulado</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('auditorio_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{% if entity.anulado %} Sí {% else %} No {% endif %} </td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('auditorio_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('auditorio_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('auditorio_new') }}">
            Agregar otro auditorio
        </a>
    </li>
</ul>
{% endblock %}
