{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Mostrar auditorio{% endblock %}
 
{% block content %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Anulado</th>
            <td>{% if  entity.anulado %} Sí {% else %} No {% endif %}</td>
        </tr>
        <tr>
            <th>Producciones soportadas</th>
            <td>
            	<ul>{% for prod in entity.producciones %}
            		<li>{{ prod.nombre }} ({{ prod.tipoPresentacion }})</li>
            	{% endfor %}
            	</ul>
            	</td>
        </tr>
        
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('auditorio') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('auditorio_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('auditorio_delete', { 'id': entity.id }) }}" method="post"
            onsubmit="return confirm('¿Está seguro que desea eliminar el Auditorio?');">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}