{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Listado de tandas{% endblock %}

{% block content %}

<table class="records_list">
    <thead>
        <tr>
            <th>Número</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.numero }}</td>
            <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('d-m-Y') }}{% endif%}</td>
            <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('d-m-Y') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('tanda_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('index_cronograma') }}">Cronograma</a>
                    </li>
                    <li>
                        <a href="{{ path('tanda_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                    
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('tanda_new') }}">
            Agregar otra tanda
        </a>
     </li>
     <li>    
        <a href="#" onclick="$('#inicializarTandasForm').toggle(); return false;">
            Recrear tandas faltantes
        </a>
	 </li>
</ul>

	        <div id="inicializarTandasForm" class="hiddenForms" style="display:none; clear:both;float:left;">
	        	<form method="post" action="{{ path('tanda_init') }}">
					<label for="evento">Indique el evento de Chapadmalal:</label>
					<select name="evento_chapa" id="evento_chapa">
					{% for evento in eventos %}
						<option value="{{ evento.id }}">{{ evento.titulo }}</option>
					{% endfor %}
					</select>
					<br/>
					<label for="incluir_no_confirmadas">Incluir también las presentaciones aún sin confirmar</label>
					<input type="checkbox" name="incluir_no_confirmadas">
					</br>
					<input type="submit" value="Generar tandas">
				</form>
			</div>

			
			
			<hr/> <h1> zona de pruebas </h1>
			<script>
			function testCrearBloque() { 
					data = '{ "posicion" : "1", "horaInicio" : "10:00", "duracion":"20", "auditorioDia" : "991", "nombre" : "test from json", "tienePresentaciones" : "true"}';
					$.post( "{{ path('crear_bloque') }}" ,
							   data ,function(res) { console.log(res); },'json');
						
			}

			function testCrearDia() {
					data = '{"tandaId" : "144"}';
					$.post( "{{ path('tanda_crear_dia', {'tandaId' : 144}) }}" ,
							   data ,function(res) { console.log(res); },'json');
						
			}

			function testDuplicarDia() {
				data = '{"dia_origen" : "376"}';
				$.post( "{{ path('duplicar_dia') }}" ,
						   data ,function(res) { console.log(res); },'json');
					
			}
			

			function testDuplicarDiaSobreOtro() {
				data = '{"dia_origen" : "376", "dia_destino" : "402"}';
				$.post( "{{ path('duplicar_dia') }}" ,
						   data ,function(res) { console.log(res); },'json');
					
			}
			
			</script>
			<br/><a href="#" onclick="testCrearBloque(); return false;"> Crear bloque para el auditorio dia 991</a>
			<br/><a href="#" onclick="testCrearDia(); return false;"> Crear bloque para la tanda 144</a>
			<br/><a href="#" onclick="testDuplicarDia(); return false;"> Duplicar el dia 376</a>
			<br/><a href="#" onclick="testDuplicarDiaSobreOtro(); return false;"> Duplicar el dia 376 en el dia 402</a>
{% endblock %}