{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Listado de tandas{% endblock %}

{% block content %}

<table class="records_list">
    <thead>
        <tr>
            <th>Evento</th>
            <th>Número de tanda</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            <th>Acciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            
            <td> <a href="{{ path('instancia_show', { 'id': entity.instanciaEvento.id }) }}">{{ entity.instanciaEvento.titulo }}</a></td>
            <td>{{ entity.numero }}</td>
            <td>{% if entity.fechaInicio %}{{ entity.fechaInicio|date('d-m-Y') }}{% endif%}</td>
            <td>{% if entity.fechaFin %}{{ entity.fechaFin|date('d-m-Y') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('tanda_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('index_cronograma') }}#/tanda/{{entity.id}}">Cronograma</a>
                    </li>
                    <li>
                        <a href="{{ path('tanda_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                    
                </ul>
            </td>
            <td>id={{ entity.id }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('tanda_new') }}">
            Agregar otra tanda
        </a>
     </li>
     <li>    
        <a href="#" onclick="$('#inicializarTandasForm').toggle(); return false;">
            Recrear tandas faltantes
        </a>
	 </li>
</ul>

	        <div id="inicializarTandasForm" class="hiddenForms" style="display:none; clear:both;float:left;">
	        	<form method="post" action="{{ path('tanda_init') }}">
					<label for="evento">Indique el evento de Chapadmalal:</label>
					<select name="evento_chapa" id="evento_chapa">
					{% for evento in eventos %}
						<option value="{{ evento.id }}">{{ evento.titulo }}</option>
					{% endfor %}
					</select>
					<br/>
					<label for="incluir_no_confirmadas">Incluir también las presentaciones aún sin confirmar</label>
					<input type="checkbox" name="incluir_no_confirmadas">
					</br>
					<input type="submit" value="Generar tandas">
				</form>
			</div>

{% endblock %}