{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Tanda{% endblock %}

{% block content %}
<ul class="record_actions" style="float:right">
    <li>
        <a href="{{ path('tanda') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('tanda_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>

    <li>
        <form action="{{ path('tanda_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('Esta seguro que desea eliminar la tanda completa?');">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
    <li>
        <a href="#" onclick="$('.hiddenForm').hide(); $('#clonarForm').toggle(); return false;">
            Clonar
        </a>
    </li>
    <li>
        <a href="#" onclick="$('.hiddenForm').hide(); $('#exportExcelForm').toggle(); return false;">
            Exportar a Excel
        </a>
    </li>
    
   <li>
        <a href="#" onclick="return confirmAndRelocate('Esta operacion quitará todas las presentaciones de los bloques. ¿desea continuar?','{{ path('tanda_reset',{'id': entity.id}) }}')">
            Resetear
        </a>
    </li>
    
    </ul>
  <div class="hiddenForms">
	
	  <div class="hiddenForm" id="exportExcelForm">
	            <form method="get" action="{{ path('tanda_export_excel') }}">
	            	<label for="sort_fn">Orden</label>
		            <select name="sort_fn">
		            	<option value="sortByCoordinadorApellido"> Por apellido del coordinador</option>
		            	<option value="sortByDiaBloque"> Por dia y bloque</option>
		            </select>
		            <input type="hidden" name="tanda_id" value="{{ entity.id }}" />
		            <button type="submit">Exportar</button>
	            </form>
	    </div>
	    
	  <div class="hiddenForm" id="clonarForm">
	            <form method="get" action="{{ path('tanda_clonar') }}">
	            	<label for="instancia_id">Seleccione la instancia de Chapadmalal para la nueva tanda</label>
		            <select name="instancia_id">
		            {% for instancia  in entity.instanciaEvento.evento.instancias %}
		            	<option value="{{ instancia.id }}"> {{ instancia }} </option>
		            {% endfor %}
		            </select>
		            <input type="hidden" name="tanda_id" value="{{ entity.id }}" />
		            <button type="submit">Clonar</button>
	            </form>
	    </div>
  
</div>


<table class="record_properties">
    <tbody>
        <tr>
            <th>Numero</th>
            <td>{{ entity.numero }}</td>
        </tr>
        <tr>
        	<th>Instancia de evento</th>
        	<td> <a href="{{  path('instancia_show',{'id': entity.instanciaEvento.id}) }}">{{ entity.instanciaEvento }}</a></td>
        </tr>
        <tr>
            <th>Fecha de inicio</th>
            <td>{{ entity.fechaInicio|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>Fecha de fin</th>
            <td>{{ entity.fechaFin|date('d-m-Y') }}</td>
        </tr>

        <tr>
            <th>Presentaciones</th>
            <td>{{ entity.presentaciones|length }}</td>
        </tr>
        
        {% if entity.dias | length > 0 %}
        <tr>
            <td colspan="2"><br><br>Días incluídos en la tanda</td>
        </tr>
	        {% for dia in entity.dias %}
	        	<tr><td colspan="2"><hr></td></tr> {# linea de separación #}
	        
		        <tr>
		            <th><a href="{{ path('dia_show', { 'id': dia.id }) }}">Día {{ dia.numero }}</a></th>
		            <td>
		            	<ul>
		            	{% for auditorioDia in dia.auditoriosDias %}
		            		<li> {{ auditorioDia.auditorio }} </li>
		            		{% if auditorioDia.bloques | length > 0 %}
		            		<ol>
		            			<li><hr></li>	
			            		{% for bloque in auditorioDia.bloques %}
			            			<li>
			            				<a href="{{ path('bloque_show', { 'id': bloque.id }) }}">{{ bloque }} </a>
			            				<ul class='info_bloque'>
			            						<li>Inicio: {{ bloque.horaInicio | date("H:i")}} hs, duración: {{ bloque.duracion }} minutos</li>
			            				{% if bloque.presentaciones | length > 0 %} 
			            						
			            						<li>
			            						<strong> {{ bloque.presentaciones | length}} presentaciones asignadas. </strong>
			            						{% set duracion = 0 %}
			            						{% for presentacion in bloque.presentaciones  %}
			            							{% set duracion = duracion + presentacion.tipoPresentacion.duracionEstimada %}
			            						{% endfor %}		
			            						Duración estimada: <strong {% if duracion > bloque.duracion %}style="color:#FF0000"{% endif %}>{{ duracion }} minutos</strong>.
			            						</li>
			            				 {% endif %} 
			            				</ul>
			            				<br/> 
			            			</li>
		    	        		{% endfor %}
		    	        		<li><hr></li>	
		            		</ol>
		            		{% endif %}
		            	{% endfor %}
		            	</ul>
		            </td>
		        </tr>
	        
	        {% endfor %}
        {% endif %}
    </tbody>
</table>


	    
{% endblock %}