{% macro show_bool(boolean) %}
	{% if (boolean) %}
		S&iacute;
	{% else %}
		No
	{% endif %}		
{% endmacro %}


{% macro nombreEscuela(escuela) %}
	({% if escuela.tipoInstitucion.id is defined %}
		{{ escuela.tipoInstitucion }}  	
	{% else %}
		{{ escuela.otroTipoInstitucion }}
	{% endif %})		
		{{ escuela.tipoEscuela }}
	   	{% if escuela.numero %}
	    	N° {{ escuela.numero }}
	    {%endif%}
	    {{ escuela.nombre }}
	
{% endmacro %}




{% macro listaDeInvitados(invitacion,readOnly) %}
		</form>
		<script> 
			maxInvitados = {{ invitacion.instanciaEvento.evento.numeroMaximoInvitados }};
			cantInvitados = 0;
			invitadosReadOnly = {% if (readOnly and invitacion.aceptoInvitacion  ) %} true; {% else %} false; {% endif %} {# para que el formulario no se puede editar, tiene que estar en modo ReadOnly y ademas aun no se tiene que haber completado #}
			confirmOnSubmit = {% if ( invitacion.instanciaEvento.evento.permitirModificarLaInvitacion != 1) %} true; {% else %} false; {% endif %}
		</script>
		<script src="{{ asset('js/lista_invitados.js') }}" type="text/javascript"></script>
		 
		<div id="lista_invitados">
			<h3> Lista de Invitados </h3>
			
			<div class="invitados_topbar">
				<div class='add_button'>Agregar invitado</div>
				<div class="invitados_count"> </div>
			</div>		
			<table>
				<tr>
					<td>Nombre</td></th>
					<td>Apellido</td></th>
					<td>Fecha de Nacimiento <br/>(dd/mm/aaaa)</td>
					<td>Tipo Documento</td>
					<td>Número</td>
					<td></td>
				</tr>
			</table>
		</div>
{% endmacro %}
