{% extends 'CpmJovenesBundle:Default:admin_layout.html.twig' %}


{% block content %}

<h1>Listado de Distritos</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Distrito</th>
            <th>Region Educativa</th>
            <th>Acciones</td>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('distrito_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.region.nombre }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('distrito_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('distrito_edit', { 'id': entity.id }) }}">Modificar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('distrito_new') }}">
            Agregar
        </a>
    </li>
</ul>

    
{% endblock %}
