{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %} {% import "CpmJovenesBundle:Perfil:proyecto_box.macro.html.twig" as
proyecto_box %} {% block title %} Listado de Proyectos {% endblock %} {% block content %}


<script>
$(document).ready(function() { 
	{% if distritos is defined %} 
		options = "{% for d in distritos %}<option value='{{d.id}}' {% if (form.vars.value.distrito is defined) and ( form.vars.value.distrito == d.id ) %} selected='selected'{% endif %}>{{d.nombre}}</option>{% endfor %}";
		$('select.distrito-selector').append(options);
	{% endif %}
	{% if localidades is defined %} 
		options = "{% for l in localidades %}<option value='{{l.id}}' {% if (form.vars.value.localidad is defined) and ( form.vars.value.localidad == l.id ) %} selected='selected'{% endif %}>{{l.nombre}}</option>{% endfor %}";
		$('select.localidad-selector').append(options);
	{% endif %}



	//hook para que al seleccionar un ciclo que muestren eventos e instancias de ese ciclo
	$("#cpm_jovenesbundle_filter_modelFilter_cicloFilter_ciclo").change(function(event) { 
		ciclo = $(event.target).val();
		url = '{{ path('find_all_by_ciclo') }}';
		$target_eventos= $("#cpm_jovenesbundle_filter_modelFilter_eventoFilter_evento");
		$target_instancias = $("#cpm_jovenesbundle_filter_modelFilter_instanciaEventoFilter_instanciaEvento");
		filtrarEventosPorCiclo(url,ciclo,$target_eventos,$target_instancias);
	});

});

</script>

{{ filter.form_head(form) }}

<div id="before_list">

	<div class="filters">
		<div class='left'>
			<h4>Filtros sobre el proyecto</h4>
			{{ form_row(form.modelFilter.coordinador) }} 
			<div class="extra-filters">
				{{ form_row(form.modelFilter.deQueSeTrata) }}			
				{{ form_row(form.modelFilter.usuarioFilter.primeraVezQueParticipa) }}			
				{{ form_row(form.modelFilter.usuarioFilter.aniosParticipo) }}
				{{form_row(form.modelFilter.eje) }}
				{{form_row(form.modelFilter.temaPrincipal) }}
	            {{ form_row(form.modelFilter.produccionFinal) }} 
	            {{ form_row(form.modelFilter.esPrimeraVezAlumnos) }}
	            {{ form_row(form.modelFilter.cuentanConNetbook) }}
	            {{ form_row(form.modelFilter.cuentanConPlataformaVirtual) }}
	            {{ form_row(form.modelFilter.estadoFilter.conArchivo) }} 
	            {{ form_row(form.modelFilter.estadoFilter.yaEvaluado) }}
	            {{ form_row(form.modelFilter.estadoFilter.nota) }}
	            {{ form_row(form.modelFilter.estadoFilter.vigente) }}
            </div>
		</div>
		<div class='right'>
			<h4>Filtros sobre la escuela</h4>
			{{ form_row(form.modelFilter.escuelaFilter.nombre) }}
			<div class="extra-filters">
				{{ form_row(form.modelFilter.escuelaFilter.localidad) }}
				{{ form_row(form.modelFilter.escuelaFilter.distrito) }} 
				<div class='range'>
					{{ form_label(form.modelFilter.escuelaFilter.regionDesde) }} 
					{{ form_errors(form.modelFilter.escuelaFilter.regionDesde) }} 
					{{ form_widget(form.modelFilter.escuelaFilter.regionDesde) }} 
					{{ form_label(form.modelFilter.escuelaFilter.regionHasta) }} 
					{{ form_errors(form.modelFilter.escuelaFilter.regionHasta) }} 
					{{ form_widget(form.modelFilter.escuelaFilter.regionHasta) }}
				</div>			
				{{ form_row(form.modelFilter.escuelaFilter.region) }} 
				{{ form_row(form.modelFilter.escuelaFilter.tipoInstitucion) }} 
				{{ form_row(form.modelFilter.escuelaFilter.otroTipoInstitucion) }}
				{{form_row(form.modelFilter.esPrimeraVezEscuela) }}
				
				{{ form_row(form.modelFilter.eventoFilter.evento) }}
				{{ form_row(form.modelFilter.eventoFilter.sinInvitacionFlag) }}
				{{ form_row(form.modelFilter.instanciaEventoFilter.instanciaEvento) }}
				
				{{ form_row(form.modelFilter.requerimientosDeEdicion) }} 
				{{form_row(form.modelFilter.color) }}
				{{form_row(form.modelFilter.transporte ) }}
				{{form_row(form.modelFilter.cicloFilter.ciclo ) }}
			</div>
	 
		</div>
		
		<div class="filter-separator">
			<hr/>
			<div class="slidedown" onclick="$('.extra-filters').toggle();"> </div>
			{{ filter.form_buttons(form) }}
		</div>	
	</div>

	<div class="systats">
		<h4>Estadísticas del ciclo activo ({{ jym.getCicloActivo() }})</h4>
		<ul>
			<li>Cant. de proyectos: {{total_proyectos}}</li> {% if total_proyectos > 0 %}
			 <li>% primera vez del coordinador: {{ (100 * total_PrimeraVezDocente / total_proyectos) | number_format(2)}}% ( {{total_PrimeraVezDocente}}/{{total_proyectos}} )</li>  
			<li>% primera vez de los alumnos: {{ (100 * total_PrimeraVezAlumnos / total_proyectos) | number_format(2) }}% ({{total_PrimeraVezAlumnos}}/{{total_proyectos}})</li>
			<li>% primera vez de la escuela: {{ (100 * total_PrimeraVezEscuela / total_proyectos) | number_format(2)}}% ({{total_PrimeraVezEscuela}}/{{total_proyectos}})</li> {% endif %}
			<li>Cantidad de coordinadores: {{ total_Coordinadores }}</li>
		</ul>
	</div>
</div>

<table class="records_list">
	<thead>
		<tr>
			<th>Id</th>
			<th>{{ filter.select_all() }}</th>
			<th>Coordinador</th>
			<th>Datos de contacto</th>
			<th>Escuela</th>
			<th>Datos de la Escuela</th>
			<th>Localidad</th>
			<th>Distrito</th>
			<th>Archivo</th>
			<th>Nota</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% include "CpmJovenesBundle:Default:pagination.html.twig" %} {% for entity in entities %}
		<tr>
			<td><a href="{{ path('proyecto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
			<td>{{ filter.select_this(entity) }}</td>

			<td class="{% if entity.esPrimeraVezDocente() %}primera_vez{% endif %}">
				<a href="{{ path('usuario_show',{ 'id' : entity.coordinador.id}) }}" > 
					{{ entity.coordinador.nombre }} {{ entity.coordinador.apellido}}
				</a>	
			</td>
			<td>Tel:{% if entity.coordinador.telefonoCelular == '' %} {{entity.coordinador.telefono}} {% else %} {{
				entity.coordinador.telefonoCelular }} {% endif %} <br />Email: {{ entity.coordinador.email }}
			</td>
			<td class="{% if entity.esPrimeraVezEscuela %}primera_vez{% endif %}">{{ proyecto_box.nombreEscuela(entity.escuela) }}</td>
			<td>Tel. {{ entity.escuela.telefono }} <br /> E-mail {{ entity.escuela.email }}
			</td>
			<td>{{ entity.escuela.localidad }}</td>
			<td>{{ entity.escuela.localidad.distrito }}</td>
			
			<td> 
				{% if ( entity.estadoActual) and (entity.estadoActual.estado >= constant('ESTADO_PRESENTADO')) %}
																 {# 10 es el estado presentado #}
					<div class="download_mini mini-icon">
						<a href="{{ path('proyecto_descargar_presentacion',{'id' : entity.id}) }}"></a>
					</div> {% else %}
					<div class="no mini-icon"></div> 
				{% endif %}
			</td>
			<td>
				{% if ( entity.estadoActual) %}
				    {{ entity.estadoActual }}
				{% else %}
					Iniciado
				{% endif %}
				
			</td>

			<td>
				<ul>
					<li><a href="{{ path('proyecto_show', { 'id': entity.id }) }}">Ver</a></li>
					{% if jym.puedeEditar(entity) %}
					<li><a href="{{ path('proyecto_edit', { 'id': entity.id }) }}">Modificar</a></li>
					{% endif %}
				</ul>
			</td>
		</tr>
		{% endfor %} {% include "CpmJovenesBundle:Default:pagination.html.twig" %}
	</tbody>
</table>

{{ form_row(form.batch_action) }} {{ form_row(form.batch_action_type) }} {{ form_row(form._token) }}
</form>

<div class="llamada">
	<div class="primera_vez llamada" style="padding: 10px;">participa por primera vez</div>
</div>

<ul class="record_actions">
	<li><a href="{{ path('proyecto_new') }}"> Agregar proyecto </a></li>
</ul>


{{ filter.batch_actions([ 
	{action:'CpmJovenesBundle:Invitacion:invitarProyectosBatch', label: 'Enviar invitacion' },
	 {action:'CpmJovenesBundle:Correo:showCorreoBatchForm', label: 'Enviar mensaje', confirm: true}, 
	 
]) }}
{{ filter.form_end(form) }}

{% endblock %}
