{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %} {% block
title %} Ficha de Inscripción {% endblock %} {% block content %}
<script src="{{ asset('js/wizzard_form.js') }}" type="text/javascript"></script>


<div style="float: right;"></div>

<form action="{% if form_action == 'proyecto_update_wizzard' %}
				{{ path( form_action, { 'id': entity.id } ) }}
			{% else %}	
				{{ path( form_action ) }}
			{% endif %}"
	method="post" {{ form_enctype(form) }} name="wizzard_form">

	<div class="wizzard_stage" id="stage_1">
		{{ form_errors(form) }}
		<h4>Paso 1 de 3</h4>
		<h3>Información de la Escuela</h3>
		
		<div class="form_fields">
			{# incluyo el formulario de carga de escuela en el wizzard #} 
			{% include "CpmJovenesBundle:Proyecto:escuela_wizzard.html.twig" %}
		</div>


		<ul class="record_actions">
			<li><a href="#" onclick="move_stage(1,2);  return false;"> Siguiente </a></li>
			<li><a href="javascript:confirmAndRelocate('¿Esta seguro que desea descartar esta propuesta?', '{{ path('home_usuario') }}')">
					Cancelar 
			</a></li>
		</ul>

	</div>




	<div class="wizzard_stage" id="stage_2">
		<h4>Paso 2 de 3</h4>
		<h3>Datos de la propuesta</h3>
		<div class="form_fields">
			{{ form_row(form.titulo) }}
			{{ form_row(form.esPrimeraVezDocente) }}
			{{ form_row(form.esPrimeraVezEscuela) }}
			{{ form_row(form.esPrimeraVezAlumnos) }}
			{{ form_row(form.nroAlumnos) }}
			{{ form_row(form.eje) }}
			{{ form_row(form.temaPrincipal) }}
			{{ form_row(form.produccionFinal)}}
			{{ form_row(form.deQueSeTrata) }} 
			{{ form_row(form.motivoRealizacion)}}
			{{ form_row(form.impactoBuscado) }}
		</div>
		<ul class="record_actions">
			<li><a href="#" onclick="move_stage(2,1,false); return false;"> Anterior </a></li>
			<li><a href="#" onclick="move_stage(2,3);  return false;"> Siguiente </a></li>
			<li><a
				href="javascript:confirmAndRelocate('¿Esta seguro que desea descartar esta propuesta?', '{{ path('home_usuario') }}')">
					Cancelar </a></li>
		</ul>

	</div>


	<div class="wizzard_stage" id="stage_3">
		<h4>Paso 3 de 3</h4>
		<h3>Datos de los docentes</h3>
		<div class="form_fields">
			<div id="coordinador">
				<strong> Coordinador: </strong> {{ coordinador.nombre }} {{
				coordinador.apellido }} <br /> <strong> Dirección de
					correo: </strong> {{ coordinador.email }}
			</div>

			<div id="colaboradores">
				
				{% for form_colaborador in form.colaboradores %}
					<div class='innerForm' id="form{{loop.index - 1}}">
					<a href="#" class='borrar_form_colaborador' ref="{{loop.index - 1}}"> Quitar </a>
					{{ form_row(form_colaborador.nombre ) }}
					{{ form_row(form_colaborador.apellido ) }}
					{{ form_row(form_colaborador.email ) }}
					</div>
				{% endfor %}
				{% if entity.colaboradores | length > 0 %} 
					{# cuando ya habia colaboradores cargados, tengo que poner el template del form de colaboradores a mano... asco! #}
					<div id="cpm_jovenesbundle_proyectotype_colaboradores" data-prototype="&lt;div&gt;&lt;label class=&quot; required&quot;&gt;$$name$$&lt;/label&gt;&lt;div id=&quot;cpm_jovenesbundle_proyectotype_colaboradores_$$name$$&quot;&gt;&lt;div&gt;&lt;label for=&quot;cpm_jovenesbundle_proyectotype_colaboradores_$$name$$_nombre&quot; class=&quot; required&quot;&gt;Nombre&lt;/label&gt;&lt;input type=&quot;text&quot; id=&quot;cpm_jovenesbundle_proyectotype_colaboradores_$$name$$_nombre&quot; name=&quot;cpm_jovenesbundle_proyectotype[colaboradores][$$name$$][nombre]&quot; required=&quot;required&quot; /&gt;&lt;/div&gt;&lt;div&gt;&lt;label for=&quot;cpm_jovenesbundle_proyectotype_colaboradores_$$name$$_apellido&quot; class=&quot; required&quot;&gt;Apellido&lt;/label&gt;&lt;input type=&quot;text&quot; id=&quot;cpm_jovenesbundle_proyectotype_colaboradores_$$name$$_apellido&quot; name=&quot;cpm_jovenesbundle_proyectotype[colaboradores][$$name$$][apellido]&quot; required=&quot;required&quot; /&gt;&lt;/div&gt;&lt;div&gt;&lt;label for=&quot;cpm_jovenesbundle_proyectotype_colaboradores_$$name$$_email&quot; class=&quot; required&quot;&gt;Email&lt;/label&gt;&lt;input type=&quot;email&quot; id=&quot;cpm_jovenesbundle_proyectotype_colaboradores_$$name$$_email&quot; name=&quot;cpm_jovenesbundle_proyectotype[colaboradores][$$name$$][email]&quot; required=&quot;required&quot; /&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;">		
				{% endif %}  
				
					
				 <a href="#"
					onclick="addDynamicForm('#cpm_jovenesbundle_proyectotype_colaboradores'); return false;">
					Agregar colaborador </a> </br>
			</div>
			<div class="hidden">
				{{ form_widget(form.color) }}
				{{ form_widget(form.transporte) }}
				{{ form_widget(form.observaciones) }}
			</div>
			{{ form_rest(form) }}
		</div>
		<!-- form_fields -->

		<ul class="record_actions">
			<li><a href="#" onclick="move_stage(3,2,false); return false;"> Anterior </a></li>
			<li>
				<button type="submit">Confirmar</button>
			</li>
			<li><a
				href="javascript:confirmAndRelocate('¿Esta seguro que desea descartar esta propuesta?', '{{ path('home_usuario') }}')">
					Cancelar </a></li>

		</ul>


	</div>
</form>
<div></div>
{% endblock %}
