{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Correo{% endblock %}

{% block content %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Fecha</th>
            <td>{{ entity.fecha|date('d-m-Y H:i:s') }}</td>
        </tr>
        <tr>
        	<th>De:</th>
        	<td>{{ entity.emisor.nombre }} {{ entity.emisor.apellido }} &lt; {{ entity.emisor.email }} &gt;
        </tr>	 
 
        <tr>
        	<th>Para:</th>
        	<td>{{ entity.destinatario.nombre }} {{ entity.destinatario.apellido }} &lt; {{ entity.destinatario.email }} &gt;
        </tr>	 
 
        <tr>
            <th>Asunto</th>
            <td>{{ entity.asunto }}</td>
        </tr>
        <tr>
            <th>Cuerpo</th>
            <td>{{ entity.cuerpo }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}