{% extends "FOSUserBundle::layout.html.twig" %}

{% import "CpmJovenesBundle:Common:macros.html.twig" as common %}

{% block title %}Editar mi perfil{% endblock %}

{% block fos_user_content %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit" onsubmit='return chequearAnios("#fos_user_profile_form_user_aniosParticipo");'>
{{ form_row(form.user) }}
{{ form_row(form.user.nombre) }}
{{ form_row(form.user.apellido) }}

{{ common.aniosParticipo('#fos_user_profile_form_user_aniosParticipo', form.user) }}

{% include "CpmJovenesBundle:Default:localidad_distrito_form.html.twig" %}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>

<<script type="text/javascript">
<!--
var $fb_url = $("#fos_user_profile_form_user_facebookURL");
var fb_hint = $fb_url.attr('title');
$fb_url.parent('div').append("<span> "+ fb_hint+"<span>");
//-->
</script>
{% endblock fos_user_content %}
