{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Registro de Usuarios{% endblock %}

{% block fos_user_content %}

{% if jym.isRegistroUsuariosAbierto() %}

<script src="{{ asset('js/jquery.tooltip.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/utils.js') }}" type="text/javascript"></script>

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" onsubmit='updateAnios("#fos_user_registration_form_aniosParticipo");'>
	{% include "CpmJovenesBundle:Default:localidad_distrito_form.html.twig" %}
	
	{{ form_row(form.nombre) }}
	{{ form_row(form.apellido) }}
	<div id="widgetAnios">
		{{ form_label(form.aniosParticipo) }}
		{{ form_widget(form.aniosParticipo) }}
		<script>
		cargarAnios($("#fos_user_registration_form_aniosParticipo"));
		</script>
	</div>
	
	
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>

{% else %}
	<h3 style="line-height: 32px; margin: 20px;">
		El registro de usuarios a la plataforma del Programa Jovenes y memoria no está abierto aún. 
		Para mayor información puede acceder a <a href="http://jovenesymemoria.comisionporlamemoria.net/">http://jovenesymemoria.comisionporlamemoria.net/</a> 
		o escribirnos por mail a jovenesymemoria<b>@</b>comisionporlamemoria.org 
	</h3>
{% endif %}
{% endblock fos_user_content %}
