{# agrega la paginacion a los listados . Debe usarse como una ultima fila de las tablas, antes del /table #}

{% if paginator is defined and paginator.totalItems('entities') > paginator.itemsPerPage('entities') %}  

<tr> <td colspan="100%">
<div class="total_count">Total: {{ paginator.totalItems('entities') }} resultados</div> 
<ul id="paginate_elements">
  {% if paginator.currentPage('entities') > 1 %}
    <li><a href="{{ path(pagination_route, {'page': paginator.previousPage('entities'), 'paginatorId': 'entities'}) }}">anterior</a></li>
  {% else %}
    <li class="left_disabled"><a href="#">anterior</a></li>
  {% endif %}

  {% for page in paginator.minPageInRange('entities')..paginator.maxPageInRange('entities') %}
    {% if page == paginator.currentPage('entities') %}
      <li><a class="current" href="#">{{ page }}</a></li>
    {% else %}
      <li><a href="{{ path(pagination_route, {'page': page , 'paginatorId': 'entities'} ) }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.currentPage('entities') < paginator.lastPage('entities') %}
    <li class="right"><a href="{{ path(pagination_route, {'page': paginator.nextPage('entities'), 'paginatorId': 'entities'}) }}">siguiente</a></li>
  {% else %}
    <li class="right_disabled">siguiente</li>
  {% endif %}
</ul>

	</td>
</tr>
{% endif %}
