<h1>Presentacion</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Titulo</th>
            <td>{{ entity.titulo }}</td>
        </tr>
        
        <tr>
            <th>Eje tematico</th>
            <td>{{ entity.ejeTematico}}</td>
        </tr>
        <tr>
            <th>Area de referencia</th>
            <td>{{ entity.areaReferencia }}</td>
        </tr>
        <tr>
            <th>Tipo de presentacion</th>
            <td>{{ entity.tipoPresentacion }}</td>
        </tr>
        <tr>
            <th>Bloque</th>
            <td>{{ entity.bloque}}</td>
        </tr>
        <tr>
            <th>Tanda</th>
            <td>{{ entity.tanda }}</td>
        </tr>
        <tr>
            <th>Cant. de confirmados</th>
            <td>{{ entity.personas_confirmadas }}</td>
        </tr>
      </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('presentacion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('presentacion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('presentacion_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
