{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Presentacion {{entity.getTipo()}} {{ entity.id }} {% endblock %}

{% block content %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Titulo</th>
            <td>{{ entity.titulo }}</td>
        </tr>
        {% if not entity.esExterna()%}
         <tr>
            <th>Proyecto</th>
            <td><a href="{{ path('proyecto_show',{'id':entity.invitacion.proyecto.id}) }}">{{ entity.invitacion.proyecto }}</a></td>
        </tr>
        <tr>
            <th>Invitacion</th>
            <td><a href="{{ path('invitaciones_show',{'id':entity.invitacion.id}) }}">{{ entity.invitacion }}</a></td>
        </tr>
        {% endif %}
     	<tr>
            <th>Escuela</th>
            <td>{{ entity.escuela }}</td>
        </tr>
        <tr>
            <th>Tanda</th>
            <td><a href="{{ path('tanda_show',{'id':entity.tanda.id}) }}">{{ entity.tanda }}</a></td>
        </tr>
        <tr>
            <th>Provincia</th>
            <td>{{ entity.provincia }}</td>
        </tr>
        <tr>
            <th>Distrito</th>
            <td>{{ entity.distrito }}</td>
        </tr>
        <tr>
            <th>Localidad</th>
            <td>{{ entity.localidad }}</td>
        </tr>
  		<tr>
            <th>Eje tematico</th>
            <td>{{ entity.ejeTematico}}</td>
        </tr>
        <tr>
            <th>Area de referencia</th>
            <td>{{ entity.areaReferencia }}</td>
        </tr>
        <tr>
            <th>Coordinador</th>
            <td>{{ entity.getApellidoCoordinador() }},{{ entity.getNombreCoordinador() }}</td>
        </tr>
        <tr>
            <th>Tipo de presentacion</th>
            <td>{{ entity.tipoPresentacion }}</td>
        </tr>
        <tr>
            <th>Bloque</th>
            <td>{%if entity.bloque %} <a href="{{ path('bloque_show',{'id':entity.bloque.id}) }}">{{ entity.bloque}}</a>{% else %} SIN ASIGNAR {% endif %}</td>
        </tr>
        <tr>
            <th>Cant. de confirmados</th>
            <td>{{ entity.getPersonasConfirmadas }}</td>
        </tr>    
         <tr>
         <th>Valoracion</th>
            <td>{{ entity.getValoracion }}</td>
        </tr>        
    </tbody>
</table>

<ul class="record_actions" style='clear:both'>
    <li>
        <a href="{{ path('presentacion') }}">
            Volver al listado
        </a>
    </li>

    <li>
        <a href="{{ path('presentacion_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('presentacion_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
    
</ul>
    	
{% endblock %}