{% extends 'CpmJovenesBundle:Default:admin_layout.html.twig' %}

{% block content %}

<h1>Localidad</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Localidad</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Distrito</th>
            <td>{{ entity.distrito.nombre }}</td>
        </tr>
        <tr>
            <th>Region Educativa</th>
            <td>{{ entity.distrito.region.nombre }}</td>
        </tr>
        
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('localidad') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('localidad_edit', { 'id': entity.id }) }}">
            Modificar
        </a>
    </li>
    <li>
        <form action="{{ path('localidad_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>

    
{% endblock %}
