{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Posee una invitacion para el evento <b>{{invitacion.instanciaEvento.titulo}}</b>{% endblock %}

{% block content %}

<h3>
  {% if edit_usuario_form | length > 1 %} 
  	Por favor complete los campos que se le solicitan a continuación
  {% else %}
    ¿Está seguro que desea confirmar su asistencia al evento?
  {% endif %}	
 </h3>

<form action="{{ path('abrir_invitacion_submit', { 'id': invitacion.id, accion: 'aceptar' }) }}" method="post" {{ form_enctype(edit_usuario_form) }} id="formInvitacion">
	 
	{% if invitacion.instanciaEvento.evento.preguntarSolicitaTren %}
		<div>
			{{ form_label(edit_usuario_form.solicitaTren) }}
			{{ form_widget(edit_usuario_form.solicitaTren) }}
				<strong>
					 Esta opción no garantiza pasajes gratuitos en tren. A la brevedad informaremos al respecto.
				</strong>			
		</div>		
	{% endif %} 
	
	
	{{ form_rest(edit_usuario_form) }}
	
	{% if invitacion.instanciaEvento.evento.solicitarListaInvitados %}
		
			{{ common.listaDeInvitados(invitacion,(invitacion.instanciaEvento.evento.permitirModificarLaInvitacion != 1) )}}
			<p> 
		        <button type="submit" class="resaltado">Confirmar asistencia</button>
		    </p>
			
	{% else %}  
			<p>
		        <button type="submit" class="resaltado">Confirmar asistencia</button>
		    </p>
	
			</form>	
	{% endif %}
    


<ul class="record_actions">
    <li>
        <a href="{{ path('home') }}">
            Cancelar
        </a>
    </li>
</ul>

{% endblock %}