{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% import "CpmJovenesBundle:Perfil:proyecto_box.macro.html.twig" as proyecto_box %}

{% block title %}  {% endblock %}

{% block content %}
<ul id="user-messages"> 
{% for mensajes in jym.mensajesDeUsuario() %}
	{% for key,m in mensajes %} {# cada mensaje de usuario puede estar compuesto de varios mensajes #}
		<li class="{{key}}"> {{ m }} </li>
	{% endfor %}
{% endfor %}
</ul>
<div id="welcome-message">
	<h2>Hola {{usuario.nombre}}, le damos la bienvenida al Sistema de usuarios del <i>Programa Jóvenes y Memoria, recordamos para el futuro </i></h2>
	

	<ul id="user-actions" class="record_actions" style="float:right">
	    {% for accionUsuario in jym.getAccionesUsuario() %}
	    <li>	
	    						<a 
	    					{% if accionUsuario['validation'] %}
								href="#" onclick="return confirmAndRelocate('{{accionUsuario['validation']}}','{{ path(accionUsuario['path']) }}');"
							{% else %}
								href="{{ path(accionUsuario['path']) }}"								
							{% endif %}
							>{{accionUsuario['label']}}</a>
	    
		</li>
		{% endfor %}
	</ul>
		<hr/>
</div>
	{% include 'CpmJovenesBundle:Perfil:listar_proyectos_docente.html.twig' %}
			        
{% endblock %}