{% extends 'CpmJovenesBundle:Default:admin_layout.html.twig' %}

{% block content %}

<h1>Modificar Plantilla de correo</h1>

<form action="{{ path('plantilla_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Modificar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('plantilla') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <form action="{{ path('plantilla_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>

{% endblock %}