{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Listado de Usuarios{% endblock %}
 
{% block content %}

{{ filter.form_head(form) }}
<div id="before_list">

<div class="filters label-width-auto" style="border:none">
	<div class="left">
		<div>
			{{ form_label(form.modelFilter.apellido) }}
			{{ form_widget(form.modelFilter.apellido) }}
		</div>	
		{{ form_row(form.modelFilter.soloCoordinadores) }}
		{{ form_row(form.modelFilter.habilitados) }}	
	</div>
	<div class="right">
		{{ form_row(form.modelFilter.email) }}
		{{ form_row(form.modelFilter.ciclo) }}
		{{ form_row(form.modelFilter.sinProyectosEsteCiclo) }}
	</div>
	<div class="double">
		
		{{ form_label(form.modelFilter.aniosParticipo) }} ({{ form_widget(form.modelFilter.porPrimeraVez) }}{{ form_label(form.modelFilter.porPrimeraVez) }})
		<br/>
		{{ form_widget(form.modelFilter.aniosParticipo) }}
		{{ form_widget(form._token) }}
		<div style="text-align:center; margin-left: 200px; ">
			{{ filter.form_buttons(form) }}
		</div>
	</div>
</div>

</div>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>{{ filter.select_all() }}</th>
            <th>Apellido, Nombres [Habilitado]</th>
            <th>Email</th>
            <th>Dni</th>
            <th>Telefono</th>
            <th>Ultimo Acceso</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ filter.select_this(entity) }}</td>
            <td style="{{ entity.enabled?'':'text-decoration:line-through;' }}">
            	<a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.apellido }}, {{ entity.nombre }}</a> 
            	<b>{{ entity.isSuperAdmin()?'[SUPERADMIN]':entity.isAdmin()?'[ADMIN]':'' }}
            	<br/>{% if entity.aniosParticipo %}<i>[{{ entity.aniosParticipoArray|join(',') }}]</i>{% endif %}
            	</b>
            </td>
            <td>{{ entity.email }} {{  common.facebookURL(entity) }}</td>
            <td>{{ entity.dni }}</td>
            <td>{{ entity.telefono }}{{ (entity.telefono) and (entity.telefonoCelular)?',':'' }}{{ entity.telefonoCelular }}</td>
            <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('usuario_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    {% if jym.puedeEditar(entity) %}
                    <li>
                        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">Modificar</a>
                    </li>
                    {% endif %}
                </ul>
            </td>
        </tr>
    {% endfor %}

   	{% include "CpmJovenesBundle:Default:pagination.html.twig" %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('usuario_new') }}">
            Crear nuevo usuario
        </a>
    </li>
</ul>

{{ form_row(form.batch_action) }} 
{{ form_row(form.batch_action_type) }}
 {{ form_row(form._token) }}
{{ filter.batch_actions([ 
	 {action:'CpmJovenesBundle:Correo:showCorreoUsuarioBatchForm', label: 'Enviar mensaje', confirm: true},
	 {action:'CpmJovenesBundle:Usuario:unionUsuariosBatchForm', label: 'Unir usuarios', confirm: false},
	 {action:'CpmJovenesBundle:Usuario:exportarUsuariosExcel', label: 'Exportar a Excel', confirm: false},
	 
	]) }}

{{ filter.form_end(form) }}

{% endblock %}