{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %} Listado de usuarios registrados {% endblock %}
{% block content %}

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Último Acceso</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Teléfono</th>
            <th>Teléfono Celular</th>
            <th>Email</th>
            <th>Código Postal</th>
            <th>habilitado</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.ultimoAcceso %}{{ entity.ultimoAcceso|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.nombre}}</td>
            <td>{{ entity.apellido }} </td>
            <td>{{ entity.dni }}</td>
            <td>{{ entity.telefono }}</td>
            <td>{{ entity.telefonoCelular }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.codigoPostal }}</td>
            <td>{% if entity.estaHabilitado == 1 %} Sí {% else %} No {% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('usuario_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">Modificar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('usuario_new') }}">
            Crear un nuevo usuario
        </a>
    </li>
</ul>

 {% endblock %}