{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}
{% import "CpmJovenesBundle:Perfil:proyecto_box.macro.html.twig" as proyecto_box %}

{% block title %}Informacion del Usuario {{ entity.apellido }}, {{ entity.nombre }} {% endblock %}
 
{% block content %}



	{% if entity.locked %}	
    <ul class="info-message">
            <li>Cuenta bloqueada</li>
    </ul>
    {% endif%}
<div class="proyectos_usuario">
	<ul id="ciclo_selector">
	
	{% for ciclo in ciclos %}
		<li  class="{% if ciclo.activo %}selected{% endif %}" target="ciclo_{{ciclo.id}}"> 
				Ciclo {{ ciclo.anio}}
		</li>
	{% endfor %}
	</ul>

	{% if entity.proyectosCoordinados | length > 0 %}
	<h2> Coordinador de... </h2>
	
	
	<ul id="proyectos_usuario">
	
	{% for proyecto in entity.proyectosCoordinados %}
	{% set ciclo_activo=jym.getCicloActivo() %}
	<li class="ciclo_{{proyecto.ciclo.id}} {% if proyecto.ciclo != ciclo_activo %} hidden {% endif %}"> 
		
		 {% if not proyecto.archivo is null %} 
               <div class="download_mini mini-icon"> 
                 		<a href="{{ path('proyecto_descargar_presentacion',{'id' : proyecto.id}) }}"></a>
               </div>
         {% endif %}
		    		
		 <a href="{{path('proyecto_show', {'id' : proyecto.id})}}">
		   <h3>Proyecto N° {{proyecto.id}}: {{ proyecto.titulo }}</h3>
		 </a>	
		 <h4>{{ proyecto_box.nombreEscuela(proyecto.escuela) }}</h4>

		    {% set numinvitacionesPendientes = proyecto.invitacionesPendientes|length %}
		    {% if numinvitacionesPendientes > 0 %}
		    <div class="invitacion">	
		    	{% if numinvitacionesPendientes == 1 %}
		    	<div class="one-pending">
		    		{{numinvitacionesPendientes}}
		    		</div> invitación pendiente
		    	{% elseif numinvitacionesPendientes > 1 %}
		    	<div class="many-pending">
		    		{{numinvitacionesPendientes}} 
		    	</div> invitaciones pendientes
		    	{%endif%}
		    </div>	
		    {% endif %}	

	</li>
	{% endfor %}
	</ul>
	{% endif %}



	{% if entity.proyectosColaborados | length > 0 %}
	<h2> Colaborador en... </h2>
	<ul id="proyectos_usuario">
	{% set ciclo_activo=jym.getCicloActivo() %}
	{% for proyecto in entity.proyectosColaborados %}
	<li class="ciclo_{{proyecto.ciclo.id}} {% if proyecto.ciclo != ciclo_activo %} hidden {% endif %}"> 
		
		 {% if not proyecto.archivo is null %} 
               <div class="download_mini mini-icon"> 
                 		<a href="{{ path('proyecto_descargar_presentacion',{'id' : proyecto.id}) }}"></a>
               </div>
         {% endif %}
		    		
		 <a href="{{path('proyecto_show', {'id' : proyecto.id})}}">
		   <h3>Proyecto N° {{proyecto.id}}: {{ proyecto.titulo }}</h3>
		 </a>	
		 <h4>{{ proyecto_box.nombreEscuela(proyecto.escuela) }}</h4>

	</li>
	{% endfor %}
	</ul>
	{% endif %}
	
</div> {# proyectos_usuario #}
        
<table class="record_properties">
    <tbody>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Dni</th>
            <td>{{ entity.dni }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ entity.telefono }}</td>
        </tr>
        <tr>
            <th>Telefono celular</th>
            <td>{{ entity.telefonoCelular }}</td>
        </tr>
        <tr>
            <th>Domicilio</th>
            <td>{{ entity.domicilio }}</td>
        </tr>       
        <tr>
            <th>Código postal</th>
            <td>{{ entity.codigoPostal }}</td>
        </tr>
        <tr>
            <th>Habilitado</th>
            <td>{{ entity.enabled?'Si':'No' }}</td>
        </tr>
        <tr>
            <th>Último Ingreso</th>
            <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Rol</th>
            <td>{% if entity.isAdmin() %}Administrador{% else %}Participante{% endif %}</td>
        </tr>
        <tr>
            <th>Años en los que participó</th>
            <td>
            	<input type="hidden" id="anios" value="{{entity.aniosParticipo}}" />
            	
            	{% if entity.aniosParticipo | length > 0 %}
            	<div id="widgetAnios"> </div>
            	<script> 
            		cargarAnios($("#anios"));  
            		$("#widgetAnios input").click(function(event){
            			event.preventDefault();
            		});	
            	</script>
            	{% else %}
            	sin cargar
            	{% endif %}
            </td>
        </tr>
        
    </tbody>
</table>

        	<ul class="record_actions" style="clear:left">
				    <li>
				        <a href="{{ path('usuario') }}">Volver al listado</a>
				    </li>
				    {% if jym.puedeEditar(entity) %}
	    				<li>
	        				<a href="{{ path('usuario_edit', { 'id': entity.id }) }}">Editar</a>
	    				</li>
					    {% if entity.enabled %}
					    <li>
					         <form action="{{ path('usuario_toggle_lock', { 'id': entity.id }) }}" method="post" 
					            onsubmit="return confirm('¿Esta seguro que desea {% if entity.locked %}Desbloquear{% else %}Bloquear{% endif %} el usuario?');">
					            {{ form_widget(lock_form) }}
					            <button type="submit">{% if entity.locked %}Desbloquear{% else %}Bloquear{% endif %}</button>
					        </form>
					    </li>
					    {% endif %}
				        <li>
					        <form action="{{ path('usuario_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('Esta seguro que desea eliminar el usuario? También se eliminarán todos los correos enviados al usuario')">
					            {{ form_widget(delete_form) }}
					            <button type="submit">Eliminar</button>
					        </form>
				    	</li>
			    	{% endif %}
				</ul>
				
	<div class="correos_usuario">
	<h2> Correos enviados </h2>
	<script>
	
		$(document).ready(function() {
			$('.correo_usuario').click( function(event) {
												buscar_correo($(event.target).attr('target'),"{{ path('correo_find_by_id') }}");
				 						});
			 
			 $('.usuario_correo_cuerpo').click(function(event) { $(event.target).slideToggle(); });
		});
	</script>
	<ul>
	
	{% for correo in entity.correosRecibidos | reverse%}
		{%  set current = (correo.fecha |date('Y')) %}
		<li id="correo_{{correo.id}}" class="{{ current }}">
				<a href="#" onclick="return false;" class="correo_usuario" target="{{correo.id}}">
					{{ correo.fecha |date('d-m-Y H:i:s') }} {{ correo.asunto }}
				</a>
			<div class="loading inline-loading"></div>
			<div class="usuario_correo_cuerpo">
			</div>
		</li>
	{% else %}
		Este usuario no posee correos
	{% endfor %}
	
	</ul>
	<div>			

{% endblock %}