{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Unir usuarios{% endblock %}

{% block content %}

 
 <form method="post" action="{{ path('union_usuarios_batch_submit') }}" onsubmit="return validarFormUnion();">
 
	<strong>Usuarios a unir</strong><br/>
	 <select name="cpm_jovenesbundle_unionusuariosbatchtype[usuarios][]" id="cpm_jovenesbundle_unionusuariosbatchtype_usuarios" multiple="yes">
		{%  if usuarios is defined %}
			{% for u in usuarios %}
				<option value="{{u.id}}" selected> {{u.email}} </option>
			{% endfor %}
		{%  endif %}	 
	 </select>
	 <a href="#" onclick="$('#cpm_jovenesbundle_unionusuariosbatchtype_usuarios option').prop('selected',true);" > Seleccionar todo </a>
	 
	 	<div>
	 			 <label>Usuario que permanecerá</label>
	 				{%  if usuarios is defined %}
						{% for u in usuarios %}
					 	 <br/><input type="radio" selected="selected" name="cpm_jovenesbundle_unionusuariosbatchtype[usuarioFinal]" id= "cpm_jovenesbundle_unionusuariosbatchtype_usuarioFinal" value="{{u.id}}"> {{ u }}
						{% endfor %}
					{%  endif %}
				<br/>	
	 
   
   {{ form_row(form._token) }}
	<input type="submit" value="Unir usuarios"/>
 	<input type="button" value="Cancelar" onclick="window.history.back();"; />
</form>
	 
 </div>
{% endblock %}