{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Informacion del Usuario {{ entity.apellido }}, {{ entity.nombre }} {% endblock %}
 
{% block content %}


	{% if entity.locked %}	
    <ul class="info-message">
            <li>Cuenta bloqueada</li>
    </ul>
    {% endif%}
        
<table class="record_properties">
    <tbody>
<!--         <tr> -->
<!--             <th>Nombre</th> -->
<!--             <td></td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <th>Apellido</th> -->
<!--             <td>{{ entity.apellido }}</td> -->
<!--         </tr> -->

        
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Dni</th>
            <td>{{ entity.dni }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ entity.telefono }}</td>
        </tr>
        <tr>
            <th>Telefonocelular</th>
            <td>{{ entity.telefonoCelular }}</td>
        </tr>
        <tr>
            <th>Codigopostal</th>
            <td>{{ entity.codigoPostal }}</td>
        </tr>
        <tr>
            <th>Habilitado</th>
            <td>{{ entity.enabled?'Si':'No' }}</td>
        </tr>
        <tr>
            <th>Último Ingreso</th>
            <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Rol</th>
            <td>{% if entity.hasRole('ROLE_ADMIN') %}Administrador{% else %}Docente{% endif %}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('usuario') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    {% if entity.enabled %}
    <li>
         <form action="{{ path('usuario_toggle_lock', { 'id': entity.id }) }}" method="post" 
            onsubmit="return confirm('¿Esta seguro que desea {% if entity.locked %}Desbloquear{% else %}Bloquear{% endif %} el usuario?');">
            {{ form_widget(delete_form) }}
            <button type="submit">{% if entity.locked %}Desbloquear{% else %}Bloquear{% endif %}</button>
        </form>
    </li>
    {% endif %}
    
    <li>
        <form action="{{ path('usuario_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('Esta seguro que desea eliminar el usuario? También se eliminarán todos los correos enviados al usuario')">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
   
<!--    
<!--     <li> -->
<!--         <form action="{{ path('usuario_delete', { 'id': entity.id }) }}" method="post" 
            onsubmit="return confirm('¿Está seguro que desea eliminar el usuario?');"> -->
<!--             {{ form_widget(delete_form) }} -->
<!--             <button type="submit">Delete</button> -->
<!--         </form> -->
<!--     </li> -->

</ul>
{% endblock %}