{% extends 'CpmJovenesBundle:Layout:login_layout.html.twig' %}

{% block title %}Registrese{% endblock %}

{% block content %}

<p>A continuación ingrese sus datos para registrarse en el programa</p>
<form action="{{ path('registrarse_submit') }}" method="post" {{ form_enctype(form) }}>
   {{ form_row(form.nombre) }}
   {{ form_row(form.apellido) }}
   {{ form_row(form.dni) }}
   {# incluyo el formulario de seleccion de distrito y localidad  #}  
    {% include "CpmJovenesBundle:Default:localidad_distrito_form.html.twig" %}
   {{ form_rest(form) }}
   
   {{ form_widget(form) }}
    <input type="submit" class="submit" value="Registrarse" />
</form>

<ul id="login-extra-options">
	<li><a href="{{path('_login')}}">Volver al login</a></li>
	<li><a href="{{path('recuperar_clave_form')}}">Recuperar clave</a></li>
</ul>
	
{% endblock %}