{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Editar eje{% endblock %}

{% block content %}

<form action="{{ path('eje_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Guardar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('eje') }}">
            Volver al  listado
        </a>
    </li>
    <li>
        <form action="{{ path('eje_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}