{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Ejes{% endblock %}

{% block content %}

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Ejes temáticos</th>
            <th>Anulado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('eje_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.descripcion }}</td>
            <td>{{ entity.ejesTematicos | length}}</td>
            <td>{{ entity.anulado }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('eje_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('eje_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('eje_new') }}">
            Crear nuevo eje
        </a>
    </li>
</ul>

{% endblock %}