{% macro show_bool(boolean) %}
	{% if (boolean) %}
		S&iacute;
	{% else %}
		No
	{% endif %}		
{% endmacro %}


{% macro nombreEscuela(escuela) %}
	({% if (escuela.tipoInstitucion.id is defined) and (escuela.tipoInstitucion.id < 3)  %}
		{{ escuela.tipoInstitucion }}:  
		{{ escuela.tipoEscuela }}
	   	{% if escuela.numero %}
	    	N° {{ escuela.numero }}
	    {% endif %}

	    {{ escuela.nombre }}

	{% else %}
	   OOSS 
		 {{ escuela.otroTipoInstitucionNombre }} - 
		 {{ escuela.otroTipoInstitucion }}
	{% endif %})		
	
{% endmacro %}




{% macro listaDeInvitados(invitacion,readOnly, isAdmin) %}
		</form>
		<script> 
			maxInvitados = {{ invitacion.instanciaEvento.evento.numeroMaximoInvitados }};
			cantInvitados = 0;
			invitadosReadOnly = {% if (readOnly and invitacion.aceptoInvitacion  ) %} true; {% else %} false; {% endif %} {# para que el formulario no se puede editar, tiene que estar en modo ReadOnly y ademas aun no se tiene que haber completado #}
			confirmOnSubmit = {% if ( invitacion.instanciaEvento.evento.permitirModificarLaInvitacion != 1) %} true; {% else %} false; {% endif %}
			hideAlert = {% if (isAdmin) %} true; {% else %} false; {% endif %}
			isAdmin = {% if isAdmin %} true; {% else %} false; {% endif %}
		</script>
		<script src="{{ asset('js/lista_invitados.js') }}" type="text/javascript"></script>
		 
		<div id="lista_invitados">
			<h3> Lista de Participantes </h3>
	
			<table>
				<tr>
					<td>Nombre</td></th>
					<td>Apellido</td></th>
					<td>Fecha de Nacimiento <br/>(dd/mm/aaaa)</td>
					<td>Tipo Documento</td>
					<td>Número</td>
					<td></td>
				</tr>
			</table>
			
			<div class="invitados_topbar">
				<div class='add_button'>Agregar participante</div>
				<div class="invitados_count"> </div>
			</div>		
		</div>
{% endmacro %}


{% macro SelectCambiarInvitacionDeInstancia(invitacion,show_label) %}
			<div class="invitacion_instancia_switcher">
			{% if show_label %} Mover a otra Instancia {% endif %}
			<select name="instancia_id" id="instancia_id" onchange="cambiarInvitacionDeInstancia(this)">
				{% for inst in invitacion.instanciaEvento.evento.instancias %}
					<option value="{{path('modificar_invitacion_de_instancia', {invitacion_id:invitacion.id, instancia_id:inst.id})}}" 
					{% if invitacion.instanciaEvento == inst %} selected="selected" {% endif %}> {{inst}} </option>
				{% endfor %}
			</select>
			</div>
{% endmacro %}


{% macro SelectVariablesDePlantillas(target,scope) %}
		{% if scope=='usuarios' %}
			{% set variables = jym.getVariablesCorreoUsuarios %}
		{%  elseif (scope == 'proyectos') %} 
			{% set variables = jym.getVariablesCorreo %}
		{%  endif %}	
		<h2> Variables predefinidas </h2>
		<p> Doble clic para insertarlas en el texto del correo </p>
	  	<select size="{{ variables | length }}" class="lista_variable" target="{{target}}">
	  		{% for k,v in variables %}
	  			<option class="lista_variable_item" value="{{k}}"> {{v}}</option>
	  		{% endfor %}
	  	</select>
{% endmacro %}




{% macro aniosParticipo(target, form) %}
	<div>
		<label onclick='chequearAnios("{{target}}")';>
			¿Participó antes COMO COORDINADOR en el Programa Jóvenes y Memoria?
		</label>
		<br/>
		<label for="participo">Si</label>
		<input type="radio" name="participo" id="participo" required="required"  onclick="$('#widgetAnios').show(); " value="true">
		<label for="participo">No</label>
		<input type="radio" name="participo" id="no_participo" required="required" onclick="$('#widgetAnios').hide();"  value="false">
	</div>

	<div id="widgetAnios" class="hidden">
		{{ form_label(form.aniosParticipo) }}
		<br/>
		{{ form_widget(form.aniosParticipo) }}
		<script>
			cargarAnios($("{{target}}"));
		</script>
	</div>
{% endmacro %}


{% macro showPresentacion(p) %}
			<li> 
				<a href='{{ path('presentacion_show',{'id': p.id}) }}' class="presentacion_header">
					{{ p.getTitulo() }}
				    ({{ p.tipoPresentacion.tipoPresentacion }})
				</a> 
				<div class="presentacion-info">
					{{ p.escuela }} - {{ p.localidad }} - {{ p.distrito }}
					{% if p.proyecto is defined %}
						<a href="{{ path('proyecto_show',{'id' : p.proyecto.id }) }}">Ver proyecto</a></li>
					{% endif %}	
			    </div>	
			</li>
{% endmacro %}

{% macro presentacionesDeBloque(bloque) %}
	<ul>
		{% for p in bloque.presentaciones %}
			{{ _self.showPresentacion(p) }}
		{% endfor %}
	</ul>
{% endmacro %}

{% macro bloquesDeAuditorioDia(auditorioDia,fullview) %}
							{% for bloque in auditorioDia.getBloques(true) %}
			            			<li>
			            				<a href="{{ path('bloque_show', { 'id': bloque.id }) }}" class="bloque">{{ bloque.horaInicio | date("H:i")}} hs. {{ bloque }} </a>
			            				<ul class='info_bloque'>
			            						<li>Duración: {{ bloque.duracion }} minutos
						            				{% if bloque.presentaciones | length > 0 %} 
						            						
						            						| {{ bloque.presentaciones | length}} presentaciones asignadas.
						            						{% set duracion = 0 %}
						            						{% for presentacion in bloque.presentaciones  %}
						            							{% if (presentacion.tipoPresentacion) %}
						            								{% set duracion = duracion + presentacion.tipoPresentacion.duracionEstimada %}
							            						{% endif %}		
						            						{% endfor %}		
						            						| Duración calculada: <strong {% if duracion > bloque.duracion %}style="color:#FF0000"{% endif %}>{{ duracion }} minutos</strong>.
						            					
						            				 {% endif %} 
						            				</li>
						            				 {% if bloque.ejesTematicos | length > 0 %}<li><strong>Ejes</strong>: {% for eje in bloque.ejesTematicos %} {{ eje.nombre }}; {% endfor %}</li>{% endif %}
						            				 {% if bloque.areasReferencia| length > 0 %}<li><strong>Areas</strong>: {% for area in bloque.areasReferencia %} {{ area.nombre }}; {% endfor %}</li>{% endif %}
						            				 
						            				{% if fullview %}
						            							{{ _self.presentacionesDeBloque(bloque) }}
						            				{% endif %}
						            					 
			            				</ul>
			            				<br/> 
			            			</li>
		    	        		{% endfor %}
{% endmacro %}

{% macro auditodiosDiaDeDia(dia) %}
	{% for auditorioDia in dia.auditoriosDia %}
		 <li> <a href="{{ path('auditoriodia_show',{'id':auditorioDia.id}) }}" class="auditorio_dia">{{ auditorioDia.auditorio }}</a> </li>
		  {% if auditorioDia.bloques | length > 0 %}
		       <ol>
		            <li><hr></li>	
			       		{{  _self.bloquesDeAuditorioDia(auditorioDia)  }}
		    	   <li><hr></li>	
		       </ol>
		 {% endif %}
	{% endfor %}
{% endmacro %}		

{% macro diasDeTanda(tanda) %}
	{% if tanda.dias | length > 0 %}
        <tr>
            <td colspan="2"><br><br>Días incluídos en la tanda</td>
        </tr>
		 	{% for dia in tanda.dias %}
			        	<tr><td colspan="2"><hr></td></tr> {# linea de separación #}
			        
				        <tr>
				            <th class="dia_tanda"><a href="{{ path('dia_show', { 'id': dia.id }) }}">Día {{ dia.numero }}</a></th>
				            <td>
				            	<ul>
									{{ _self.auditodiosDiaDeDia(dia) }}
				            	</ul>
				            </td>
				         </tr>	
		 	{% endfor %}	
	{% endif %}	 	
 {% endmacro %}
 
 {% macro facebookURL(user) %}
	 {% if user.facebookURL | length > 0 %}
	 	<a href="{{ user.facebookURL }}" class="facebook">&nbsp;</a>
	 {% endif %}
{% endmacro %}	 	