{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Escuela{% endblock %}

{% block content %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Otrotipoinstitucion</th>
            <td>{{ entity.otroTipoInstitucion }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ entity.telefono }}</td>
        </tr>
        <tr>
            <th>Domicilio</th>
            <td>{{ entity.domicilio }}</td>
        </tr>
        <tr>
            <th>Codigopostal</th>
            <td>{{ entity.codigoPostal }}</td>
        </tr>
        <tr>
            <th>Director</th>
            <td>{{ entity.director }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('escuela') }}">
            Volver al listado
        </a>
    </li>
    {% if jym.puedeEditar(entity) %}
    <li>
        <a href="{{ path('escuela_edit', { 'id': entity.id }) }}">
            Modificar
        </a>
    </li>
    {% endif %}
</ul>
{% endblock %}