{% if correo is defined %}
	<table class="correoDetalle">
		<tr>
			<td class='labelColumn'> Fecha: </td>
			<td class='infoColumn'> {{ correo.fecha|date('Y-m-d H:i:s') }}</td>
	 	</tr>
	 	<tr>
			<td class='labelColumn'> De: </td>
			<td class='infoColumn'> {{correo.emisor}}</td>
	 	</tr>
		<tr>
			<td class='labelColumn'> Para: </td>
			<td class='infoColumn'> {{ correo.destinatario }} </td>
	 	</tr>
		<tr>
			<td class='labelColumn'> Asunto: </td>
			<td class='infoColumn'> {{ correo.asunto }}</td>
	 	</tr>
		<tr>
			<td class='labelColumn'> Cuerpo: </td>
			<td class='infoColumn'> {{ correo.cuerpo }}</td>
	 	</tr>

{% endif %}