
{% macro render_filters(form,filter) %}
<div class="filters proyecto_filters">
    <div class="filter_button" onclick="showfilters();">Filtros</div>
        {{ filter.form_head(form) }}
        {{ _self.filter_block('Generales',true,[form.modelFilter.coordinador,form.modelFilter.escuelaFilter.nombre] ) }}
        {{ _self.filter_block('Docente',false,[form.modelFilter.usuarioFilter.primeraVezQueParticipa,form.modelFilter.usuarioFilter.aniosParticipo,form.modelFilter.usuarioFilter.porPrimeraVez]) }}
        {{ _self.filter_block('Acerca del proyecto',false, [form.modelFilter.titulo,form.modelFilter.deQueSeTrata, form.modelFilter.ejes,form.modelFilter.temasPrincipales,form.modelFilter.produccionesFinales,form.modelFilter.esPrimeraVezAlumnos ]) }}
        {{ _self.filter_block('Evaluaciones',false,[form.modelFilter.estadoFilter.conArchivo, form.modelFilter.estadoFilter.yaEvaluado,form.modelFilter.estadoFilter.correoEnviado,form.modelFilter.estadoFilter.notas,form.modelFilter.estadoFilter.vigente]) }}
        {{ _self.filter_block('Ubicacion geografica',false,[form.modelFilter.escuelaFilter.localidades,form.modelFilter.escuelaFilter.distritos,form.modelFilter.escuelaFilter.regiones]) }}
        {{ _self.filter_block('Escuelas',false,[ form.modelFilter.escuelaFilter.tipoInstitucion, form.modelFilter.escuelaFilter.otroTipoInstitucion, form.modelFilter.escuelaFilter.contextoEncierro,form.modelFilter.esPrimeraVezEscuela] ) }}
        {{ _self.filter_block('Eventos',false,[ form.modelFilter.eventoFilter.evento,form.modelFilter.eventoFilter.sinInvitacionFlag,form.modelFilter.eventoFilter.confirmoInvitacionFlag,form.modelFilter.eventoFilter.rechazoInvitacionFlag,form.modelFilter.eventoFilter.asistioAlEventoFlag]) }}
        {{ _self.filter_block('Instancias de Eventos',false,[ form.modelFilter.instanciaEventoFilter.instanciaEvento,form.modelFilter.instanciaEventoFilter.confirmoInvitacionAInstancia ,form.modelFilter.instanciaEventoFilter.rechazoInvitacionAInstancia, form.modelFilter.instanciaEventoFilter.asistioAInstancia  ]) }}
        {{ _self.filter_block('Chapa',false,[form.modelFilter.requerimientosDeEdicion,form.modelFilter.color,form.modelFilter.transporte ]) }}
        {{ _self.filter_block('Ciclo',false,[form.modelFilter.ciclos]) }}
        {{ filter.form_buttons(form) }}
</div>
<Script>
    function showfilters() {
        $('.proyecto_filters').toggleClass('expanded');
        $('.proyecto_filters > form').slideToggle();
    }

    function showgroup(group_selector) {
        $group = $(group_selector);
        $group.toggleClass('collapsed').toggleClass('uncollapsed');
    }

    function hasValue(input) {
        $input = $(input);
        if ($input.is(':checkbox'))
            return $input.is(':checked');
        else if ($input.is('select') && ($input.find('option:selected').text() == 'Todos'))
             return false; //caso especial, algunas veces todos tiene valor y otras no
        else return $input.val();

    }
    /**
     * Marca todos los bloques que tienen algun dato dentro (select con algo seleccionado, check marcados, input con texto)
     */
    function markBlockWithData() {
        $('.proyecto_filters  .filter_group').each(function(){
            $dad =  $(this);
            $dad.find(':input').each(function() {
                                            if (hasValue(this) )
                                                $dad.find('.title').addClass('group_with_data');
                });
            });
    }
    markBlockWithData();
</Script>
{% endmacro %}


{% macro filter_block(name,always_visible,filters) %}

    <div class="filter_group filter_{{ name|replace({' ':'_'}) }} {% if not always_visible %}collapsed{% else %} uncollapsed {% endif %}">
        <div class="title" onclick="showgroup('.filter_{{ name |replace({' ':'_'}) }}')">{{ name }}

        </div>
        <div class="filters_in_group">
        {% for filter in filters %}
            {{ form_row(filter) }}
            {% endfor %}
        </div>
    </div>

{% endmacro %}