{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}
{% import "CpmJovenesBundle:Perfil:proyecto_box.macro.html.twig" as proyecto_box %}
{% import "CpmJovenesBundle:Proyecto:filters.html.twig" as proyecto_filters %}


{% block title %}
    Listado de Proyectos

{% endblock %}

{% block content %}

    <div class="systats">
        <p class='stats_title' onclick="$('.systats ul').slideToggle();">Estadísticas ({{ jym.getCicloActivo() }})</p>
        <ul>
            <li>Cant. de proyectos: {{total_proyectos}}</li> {% if total_proyectos > 0 %}
            <li>% primera vez del coordinador: {{ (100 * total_PrimeraVezDocente / total_proyectos) | number_format(2)}}% ( {{total_PrimeraVezDocente}}/{{total_proyectos}} )</li>
            <li>% primera vez de los alumnos: {{ (100 * total_PrimeraVezAlumnos / total_proyectos) | number_format(2) }}% ({{total_PrimeraVezAlumnos}}/{{total_proyectos}})</li>
            <li>% primera vez de la escuela: {{ (100 * total_PrimeraVezEscuela / total_proyectos) | number_format(2)}}% ({{total_PrimeraVezEscuela}}/{{total_proyectos}})</li> {% endif %}
            <li>Cantidad de coordinadores: {{ total_Coordinadores }}</li>
        </ul>
    </div>


<script>
$(document).ready(function() { 
	{% if distritos is defined %} 
		options = "{% for d in distritos %}<option value='{{d.id}}' {% if (form.vars.value.distrito is defined) and ( form.vars.value.distrito == d.id ) %} selected='selected'{% endif %}>{{d.nombre}}</option>{% endfor %}";
		$('select.distrito-selector').append(options);
	{% endif %}
	{% if localidades is defined %} 
		options = "{% for l in localidades %}<option value='{{l.id}}' {% if (form.vars.value.localidad is defined) and ( form.vars.value.localidad == l.id ) %} selected='selected'{% endif %}>{{l.nombre}}</option>{% endfor %}";
		$('select.localidad-selector').append(options);
	{% endif %}



	//hook para que al seleccionar un ciclo que muestren eventos e instancias de ese ciclo
	$("#cpm_jovenesbundle_filter_modelFilter_cicloFilter_ciclo").change(function(event) { 
		ciclo = $(event.target).val();
		url = '{{ path('find_all_by_ciclo') }}';
		$target_eventos= $("#cpm_jovenesbundle_filter_modelFilter_eventoFilter_evento");
		$target_instancias = $("#cpm_jovenesbundle_filter_modelFilter_instanciaEventoFilter_instanciaEvento");
		filtrarEventosPorCiclo(url,ciclo,$target_eventos,$target_instancias);
	});
	
	//se setean valores por defecto al reiniciar el formulario
	$('#filter-form button[type="reset"]').live('click',function(){
		window.location.href = "{{path(jym.getEtapaActual().getProyectosVigentesAction())}}";

	});
});

</script>



<div id="before_list">

  {{ proyecto_filters.render_filters(form,filter) }}

</div>

<table class="records_list">
	<thead>
		<tr>
			<th>Id</th>
			<th>{{ filter.select_all() }}</th>
			<th>Coordinador</th>
			<th>Contacto</th>
			<th>Escuela</th>
			<th>Datos de la Institución</th>
			<th>Localidad</th>
			<th>Distrito</th>
			<th>Titulo del Proyecto</th>
			<th>Archivo</th>
			<th>Nota</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% include "CpmJovenesBundle:Default:pagination.html.twig" %} {% for entity in entities %}
		<tr>
			<td><a href="{{ path('proyecto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
			<td>{{ filter.select_this(entity) }}</td>

			<td class="{% if entity.esPrimeraVezDocente() %}primera_vez{% endif %}">
				<a href="{{ path('usuario_show',{ 'id' : entity.coordinador.id}) }}" > 
					{{ entity.coordinador.nombre }} {{ entity.coordinador.apellido}}
				</a>	
			</td>
			<td>Tel:{% if entity.coordinador.telefonoCelular == '' %} {{entity.coordinador.telefono}} {% else %} {{
				entity.coordinador.telefonoCelular }} {% endif %} 
				<br />Email: {{ entity.coordinador.email }} {{ common.facebookURL(entity.coordinador) }}
			</td>
			<td class="{% if entity.esPrimeraVezEscuela %}primera_vez{% endif %}">{{ proyecto_box.nombreEscuela(entity.escuela) }}</td>
			<td>Tel. {{ entity.escuela.telefono }} <br /> E-mail {{ entity.escuela.email }}
			</td>
			<td>{{ entity.escuela.localidad }}</td>
			<td>{{ entity.escuela.localidad.distrito }}</td>
			<td>{{ entity.titulo }}</td>
			<td> 
				{% if ( entity.estadoActual) and (entity.estadoActual.estado >= constant('ESTADO_PRESENTADO')) %}
																 {# 10 es el estado presentado #}
					<div class="download_mini mini-icon">
						<a href="{{ path('proyecto_descargar_presentacion',{'id' : entity.id}) }}"></a>
					</div> {% else %}
					<div class="no mini-icon"></div> 
				{% endif %}
			</td>
			<td>
				{% if ( entity.estadoActual) %}
				    {{ entity.estadoActual }}
				{% else %}
					Iniciado
				{% endif %}
				
			</td>

			<td>
				<ul>
					<li><a href="{{ path('proyecto_show', { 'id': entity.id }) }}">Ver</a></li>
					{% if jym.puedeEditar(entity) %}
					<li><a href="{{ path('proyecto_edit', { 'id': entity.id }) }}">Modificar</a></li>
					{% endif %}
				</ul>
			</td>
		</tr>
		{% endfor %} {% include "CpmJovenesBundle:Default:pagination.html.twig" %}
	</tbody>
</table>

{{ form_row(form.batch_action) }} {{ form_row(form.batch_action_type) }} {{ form_row(form._token) }}
</form>

<div class="llamada">
	<div class="primera_vez llamada" style="padding: 10px;">participa por primera vez</div>
</div>

<ul class="record_actions">
	<li><a href="{{ path('proyecto_new') }}"> Agregar proyecto </a></li>
</ul>


{{ filter.batch_actions([ 
	{action:'CpmJovenesBundle:Invitacion:invitarProyectosBatch', label: 'Enviar invitacion' },
	{action:'CpmJovenesBundle:Correo:showCorreoBatchForm', label: 'Enviar mensaje', confirm: true},
	{action:'CpmJovenesBundle:Proyecto:exportarProyectosExcel', label: 'Exportar a excel'}, 
	 
]) }}
{{ filter.form_end(form) }}

{% endblock %}
