{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %} Reporte de proyectos con CUE repetidos {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('bootstrap-2.3.2/css/bootstrap.css') }}" />
    <table class="table">
        <thead>
        <tr>
            <th>CUE</th>
            <th><strong>Escuela</strong></th><th><strong>Proyecto</strong></th><th><strong>Coordinador</strong></th>
        </tr>
        </thead>
            {% set css_class = 'even' %}
            {% for cue in cues_repetidos %}
                {% for p in cue['proyectos'] %}
                <tr class="{{ css_class }}">
                    <td>
                        <strong>{{ cue['cue'] }}</strong><br/>
                    </td>
                    <td> {{ p.escuela  }}</td>
                    <td> <a href="{{ path('proyecto_show', { 'id': p.id }) }}">{{ p.titulo }}</a> </td>
                    <td>
                        {%  if p.coordinador %}
                            <a href="{{ path('usuario_show', { 'id': p.coordinador.id }) }}">{{ p.coordinador }}</a>
                        {% else %}
                            SIN COORDINADOR
                        {%  endif %}
                    </td>
                </tr>
                {% endfor %} {# for de proyectos #}
                {% if css_class == 'even' %}
                    {% set css_class = 'odd' %}
                {% else %}
                    {% set css_class = 'even' %}
                {% endif %}
            {% endfor %}  {# for cues_repetidos #}

            </table>
{% endblock %}