{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}
{% import "CpmJovenesBundle:Perfil:proyecto_box.macro.html.twig" as proyecto_box %}

{% block title %} Detalle del proyecto{% endblock %} 

{% block content %}
 		<div class="proyecto_submenu">
	 		<a href="#" onclick='agregarPostit("{{ path('proyecto_crear_postit',{ 'id' : entity.id}) }}");return false;'> Nuevo Postit </a>
 	 {#
 	 		<a href="#" onclick='agregarComentario("{{ path('proyecto_crear_comentario',{ 'id' : entity.id}) }}"); return false; '> Comentario </a> 
 	 		<a href="#" onclick='agregarTarea("{{ path('proyecto_crear_tarea',{ 'id' : entity.id}) }}"); return false;'> Tarea </a> 
	 #}		
	 		<div id="comentario_form">
	 			<form type="post">
	 				<label for="asunto" id="asunto_label"></label><input type="text" name="asunto" id="asunto" />
	 				<label for="cuerpo" id="cuerpo_label"></label><textarea name="cuerpo" id="cuerpo"></textarea>
	 				<input type='hidden' id='tipo_comentario' value=''>
	 				<a href="#"  style="float:left;" title="Cerrar" onclick="$('#comentario_form').hide(); return false;";> <img src="/images/icons/error.png"> </a>
	 				<a href="#" style='float:right;' title="Guardar nota" onclick="enviarComentarioAjax()"> <img src="/images/icons/success.png"> </a>
	 			</form>
	 		</div>
 		</div>
 		
 	  	<div class="proyecto_box_admin">	    
		  	{% if ( entity.estadoActual) and (entity.estadoActual.estado >= constant('ESTADO_PRESENTADO')) %}
																	 
				<div class="download_link icon" title="Descargar archivo">
			    	<a href="{{ path('proyecto_descargar_presentacion',{ 'id' : entity.id}) }}" > 
			    	 	&nbsp;
			    	</a>
		    	</div> 
			{% endif %}
		  	<h2>Ciclo {{ entity.ciclo }}</h2>
		    <h2 class="proyeto_title"> Proyecto: {{ entity.titulo }} </h2>
					    
		    
		    {% if entity.color | length > 0 %}
				<h4 class="info_header extra_info color-{{entity.color}}">
					<a href="#" ;>
						Color {{ entity.color }}
					</a>			
				</h4>
			{% endif %}
		    
		    
			{% set escuela = entity.escuela %}
	
			<h4 class="info_header extra_info"> <a href="#" onclick="$('.info_escuela').toggle(); return false;"> {{ proyecto_box.nombreEscuela(entity.escuela) }} </a></h4>
			<div class="info_escuela hidden extra_info">
				<p> Domicilio {{ escuela.domicilio }} CP {{escuela.codigoPostal }} </p> 
				<p> Localidad {{escuela.localidad.nombre }} , Distrito {{ escuela.localidad.distrito }} </p>
				<p> Región Educativa: {{ entity.escuela.localidad.distrito.region }} </p>
				<p> Tel. {{ escuela.telefono }} / Email {{ escuela.email }} </p>
				<p> Director: {{ escuela.director }} </p>
			</div> <!-- info_escuela -->
		
			<h4 class="info_header extra_info">
				<a href="#" onclick="$('.info_coordinador').toggle(); return false;";>
					Coordinador {{ entity.coordinador.nombre }} {{entity.coordinador.apellido}}
					<a class="perfil_usuario_link" href="{{ path('usuario_show',{ 'id' : entity.coordinador.id}) }}">Ver perfil</a>	   
				</a>			
			</h4>
			<div class="info_coordinador hidden extra_info"> 
				<p>Email <a href="mailto:{{entity.coordinador.email}}">{{entity.coordinador.email}}</a></p>
				<p> DNI: {{ entity.coordinador.dni }}</p>
	        	<p>Teléfono {{ entity.coordinador.telefono }}</p>
				<p>Teléfono celular {{ entity.coordinador.telefonoCelular }}</p>
				<p>Domicilio {{ entity.coordinador.domicilio }}</p>
	        	<p>Código postal {{ entity.coordinador.codigoPostal }}</p>     	
			</div>	<!-- info_coordinador -->

			{% if entity.colaboradores | length > 0 %}
				<h4 class="info_header extra_info">
					<a href="#" onclick="$('ul.colaboradores').toggle(); return false;";>
						Colaboradores ({{ entity.colaboradores | length }})
					</a>
				</h4>
				<ul class="colaboradores hidden extra_info">
					{% for colaboradores in entity.colaboradores %}
						<li> 
							{{colaboradores.nombre}} {{colaboradores.apellido}} &lt;
							<a href="mailto:{{colaboradores.email}}">{{colaboradores.email}}</a>&gt;
							<a class="perfil_usuario_link" href="{{ path('usuario_show',{ 'id' : colaboradores.id}) }}">Ver perfil</a>
						</li>
					{% endfor %}
				</ul>
				
			{% endif %}
		
			<h4 class="info_header extra_info"> <a href="#" onclick="$('.info_proyecto').toggle(); return false;">Acerca del proyecto (tema, alumnos, impacto...) </a></h4>
			<div class="info_proyecto hidden extra_info">
				<ul>	
			    	<li>Primera vez del docente: {{ common.show_bool(entity.esPrimeraVezDocente) }}</li>
			    	<li>Recibió capacitación en años anteriores: {{ common.show_bool(entity.recibioCapacitacion) }}</li>
			    	<li>Primera vez de la escuela: {{ common.show_bool(entity.esPrimeraVezEscuela) }}</li>
			    	<li>Primera vez de los alumnos: {{ common.show_bool(entity.esPrimeraVezAlumnos) }}</li>
			    	<li>Los alumnos cuentan con netbooks del Plan Conectar Igualdad: {{ common.show_bool(entity.cuentanConNetbook) }}</li>
			    	<li>Cuentan con la plataforma virtual: {{ common.show_bool(entity.cuentanConPlataformaVirtual) }}</li>    	
			    </ul>
						
			
				<p> Cantidad de alumnos que participan: {{ entity.nroAlumnos }} </p>

				<p> Eje: {% if entity.eje %} {{ entity.eje }} {% else %} SIN DEFINIR {% endif %} </p>
				<p> Tema principal: {{ entity.temaPrincipal }} </p>
				<p>  Producción Final: {{ entity.produccionFinal }} </p>
				
				<h4>¿De qué trata el proyecto?</h4>
				<p>  {{ entity.deQueSeTrata }} </p>
				
				<h4>¿Cuál es el motivo de su realización?</h4>
				<p>  {{ entity.motivoRealizacion }} </p>
				
				<h4>¿Cuál es el impacto buscado?</h4>
				<p>  {{ entity.impactoBuscado }} </p>
				<p> &nbsp; </p>
			</div> <!-- info_proyecto -->
			
			
			{% if entity.requerimientosDeEdicion | length > 0 %}
				<h4 class="info_header extra_info"> 
						<a href="#" onclick="$('.info_edicion').toggle(); return false;">Requerimientos de Edición </a></h4>
				<div class="info_edicion hidden extra_info">
					<p> {{ entity.requerimientosDeEdicion }} </p>
				</div> <!-- info_edicion -->
			{% endif %}
			
			
			<h4 class="info_header extra_info"> <a href="#" onclick="$('.info_transporte').toggle(); return false;">Transporte y observaciones</a></h4>
			<div class="info_transporte hidden extra_info">
				<p> Transporte: <strong>{% if entity.transporte | length > 0 %} {{ entity.transporte }} {% else %} - {% endif %} </strong> </p>
				 
				<h4> Observaciones: </h4>
				<p>  {{ entity.observaciones }} </p>
				<p> &nbsp; </p>
			</div> <!-- info_transporte -->
			
			
			
			
			
			
			<ul class="record_actions">
			    <li>
			        <a href="{{ path('proyecto') }}">
			            Volver al listado
			        </a>
			    </li>
			    {% if jym.puedeEditar(entity) %}
			    <li>
			        <a href="{{ path('proyecto_edit', { 'id': entity.id }) }}">
			            Modificar
			        </a>
			    </li>
			    <li>
			        <form action="{{ path('proyecto_delete', { 'id': entity.id }) }}" method="post"
			            onsubmit="return confirm('¿Está seguro que desea eliminar el proyecto?');">
			            {{ form_widget(delete_form) }}
			            <button type="submit">Eliminar</button>
			        </form>
			    </li>
			    {% endif %}
			</ul>
				
	</div> <!-- proyecto_box_admin -->
	
	
	<div class="proyecto_right_box">
	
	<div class="estados_proyecto_box">
		<h3 class="info_header">Estado actual: {{ entity.estadoActual }}
		
		{% if entity.estadoActual %} 
			<div class="estado_autor">
			 {{ entity.estadoActual.fecha|date('d-m-Y') }}: por {{ entity.estadoActual.usuario.nombre }} {{ entity.estadoActual.usuario.apellido }}
			 </div>
		{% endif %}	 
		</h3>
		<h4 class="info_header">
			<a style="" href="#" onclick="$('.info_estados').toggle(); return false;" > <img src="{{ asset('images/icons/slidedown.png') }}"> Historial ({{ estados_anteriores | length }})</a> 
			<a style="float:right;" href="javascript:cambiar_estado();">Cambiar estado</a>								
		</h4>
	 		
	 		
	 		<div class="info_estados hidden extra_info">
				<ul class="estados_list">
				{% set first = true %}
				{% for estado in estados_anteriores %}
					<li> 
						<div class="undo_list">
						 	{{ estado.fecha|date('d-m-Y') }}
							{% if first %} {# solo se muestra el boton de borrar en el primer estado del listado #}
								<a onclick='confirmAndRelocate("¿Está seguro que desea cancelar este estado? Esta operación no se puede deshacer","{{ path('proyecto_rollback', { 'id': entity.id }) }}"); return false;' href="#"> Cancelar </a>
								{% set first = false %}
							{% endif %}
						 </div>	
						
						<p><strong>Estado: {{ estado }}  </strong>
						<div  class="estado_autor"> 
							Por {{ estado.usuario.nombre }} {{ estado.usuario.apellido }}
						</div>
						</p>
						<ul class="estado_more_info">
							{% if estado.archivo %} 
								<li> Archivo adjunto:
									<a href="{{ path('proyecto_descargar_archivo_viejo', { 'id': estado.id }) }}">
										 {{ estado.archivo }}
									</a>
								</li>
							 {% endif %}
							 {% if estado.valoracion %}
							 	<li> Valoración: <strong> {{estado.valoracion}}</strong></li>
							 {% endif %}
							<li>Observaciones: {{ estado.observaciones }} </li>
						</ul>
					</li>
				{% endfor %}
				</ul> 
				
				<div id="estado_proyecto_form">
					<form id="nuevo_estado_proyecto_form" action="{{ path('proyecto_cambiar_estado', { 'id' : entity.id }) }}" method="post" {{ form_enctype(estado_form) }} onsubmit="return validar_form_cambio_estado();">
						{{ form_row(estado_form.estado) }}
						<div id="archivo_presentacion">
							{{ form_row(estado_form.archivo) }}
						</div>
						<div id="valoracion">
							{{ form_row(estado_form.valoracion) }}
						</div>
						{{ form_rest(estado_form) }}
						<script> mostrar_campo_archivo(); </script>
					</form>
				</div>
			</div> <!-- info_estados -->
		</div> <!-- estados_proyecto_box -->	
			
			{% if entity.invitaciones | length > 0 %}
	<div class="invitaciones">
		<div class="minimizer" onclick="$('.invitaciones .listado-items').toggle();"> - </div>
		<div class="invitacion">	
		    	<div class="many-pending"></div> Invitaciones a eventos 
		 </div>   	
		<ul class="listado-items">
			{% for invitacion in entity.invitaciones %}
				<li class="actions">
					<a class="show_instancia_link" href="{{path('instancia_show', {id:invitacion.instanciaEvento.id})}}">{{ invitacion.instanciaEvento.titulo }}</a>
					
	
					<div class="status">
					{% if not invitacion.instanciaEvento.fue() %}
						
						{% if invitacion.estaPendiente %}
							<span class='pendiente with-operations'>Pendiente
							{% if invitacion.estaVigente %}
							<div class="ops">
								 <ul>
								  	<li><a href="{{path('abrir_invitacion', {id:invitacion.id,accion:'aceptar'})}}" class="actions resaltado">Confirmar</a></li>   
								 	<li><a href="{{path('invitaciones_edit', {id:invitacion.id })}}">Editar</a></li>
								 	<li><a href="{{path('abrir_invitacion', {id:invitacion.id, accion:'rechazar'})}}">Rechazar</a></li>
								 </ul>
								 </div>
							{% endif %}
							</span>
							
						{% else %}
							{% if invitacion.aceptoInvitacion %}
							<span class='aceptado with-operations'>Confirmado
								<div class="ops">
									<ul>
								{#	<a href="{{path('abrir_invitacion', {id:invitacion.id,accion:'aceptar'})}}">Modificar</a> #}
									<li><a href="{{path('invitaciones_edit', {id:invitacion.id })}}">Modificar</a></li>
									<li><a href="{{ path('abrir_invitacion', { 'id': invitacion.id, accion: 'rechazar' }) }}">Cancelar Asistencia</a></li>
									{% if invitacion.instanciaEvento.evento.solicitarListaInvitados %}
										<li><a href="{{ path('invitados_export_to_excel', { 'id': invitacion.id }) }}">Exportar lista de invitados</a></li>
									{% endif %}								
									<li> {{ common.SelectCambiarInvitacionDeInstancia(invitacion,true) }} </li>
									{% if invitacion.solicitaTren %}
									<li> El coordinador indicó que solicita tren </li>
									{% endif %}
								</div>	
							</span>
							{% else %}
								<span class='rechazado with-operations'>Rechazado
								<div class="ops">
									<ul>
									<li><a href="{{path('abrir_invitacion', {id:invitacion.id,accion:'aceptar'})}}">Aceptar Invitación</a></li>
									<li><a href="{{path('invitaciones_edit', {id:invitacion.id })}}">Editar</a></li>
									</ul>
								</div>	
								</span>
							{% endif %}
							
    					{% endif %}
    					
    				{% else %}
    					
    					<p class="mini-icon {% if invitacion.asistio %} yes" title="Asisitó" {% else %} no" title="No Asistió" {% endif %} style="background-position:right center; padding-right: 20px; height: auto;"> 
    						Cerrado	
    					</p>  
    						
					{% endif %}
					</div>
				</li>
			{%endfor %}
			</ul>
		</div>	<!-- invitaciones -->

	  {% endif %}	
	
	</div> <!-- proyecto_right_box -->


{% if postits | length > 0 %}
<div id="postits">
	{% set left = 1200 %}
	{% set top = 150 %}
	{% set cant_postits = 1 %}
	{% for p in postits %}
	
		<div class="draggable ui-draggable postit {% if p.estado %} leido {% endif %}" style="left:{{left}}px; top:{{top}}px" id="postit_{{p.id}}">
			<div class="postit_content">
				<div class="postit_metadata">
					Creado: {{ p.getFechaCreado |date('d-m-Y H:i:s') }}
					{% if p.getFechaCreado != p.getFechaModificado  %}
						<br/>Modificado {{ p.getFechaModificado |date('d-m-Y  H:i:s') }}
					{% endif %}
					<br/>Por: {{ p.autor.nombre }} {{ p.autor.apellido }} 	
				</div>
				<div class="asunto">
					{{p.asunto}}
				</div>
				<div class="cuerpo">
					Mensaje {{ p.cuerpo }}
				</div>	
			</div>
			<div class="options_bar">
				<a href="#" title="Borrar" onclick="eliminarComentarioAjax('{{ path('proyecto_eliminar_comentario', { 'id' : p.id }) }}', 'postit_{{p.id}}'); return false;"> 
					<img src="/images/icons/delete.png">
				 </a>
				<a href="#" title="Marcar como {% if p.estado %} no {% endif %} leido" 
							onclick="marcarLeidoComentarioAjax('{{ path('proyecto_cambiar_estado_comentario', { 'id' : p.id }) }}', 'postit_{{p.id}}'); return false;"> 
						<img src="/images/icons/success.png">
				</a>
			</div>
			
		</div>	
		{% set top = top + 200 %}
		{% set cant_postits = cant_postits + 1 %}
		{% if cant_postits > 3 %}
			{% set left = left - 300 %}
			{% set top = 150 %}
			{% set cant_postits = 1 %}
		{% endif %}
	{% endfor %}
</div>
	
{% endif %}

{% endblock %}