{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}
{% import "CpmJovenesBundle:Common:macros.html.twig" as macros %}
{% block title %}Detalle de día{% endblock %}

{% block content %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Número</th>
            <td>{{ entity.numero }}</td>
        </tr>
        <tr>
        	<th>Tanda</th>
        	<td> {{ entity.tanda }}</td>
        </tr>	
         <tr>
		        <th>Detalle</th>
		            <td>
		            	<ul>
		            	{{ macros.auditodiosDiaDeDia(entity) }}
		            	</ul>
		            </td>
		        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('dia') }}">
			Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('dia_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('dia_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}