{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Posee una invitacion para el evento <b>{{invitacion.instanciaEvento.titulo}}</b>{% endblock %}

{% block content %}

<h3>Por favor complete los campos que se le solicitan a continuación</h3>

<form action="{{ path('abrir_invitacion_submit', { 'id': invitacion.id, accion: 'aceptar' }) }}" method="post" {{ form_enctype(edit_usuario_form) }}>
    {{ form_widget(edit_usuario_form) }}
    <p>
        <button type="submit">Guardar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('home') }}">
            Cancelar
        </a>
    </li>
</ul>

{% endblock %}