{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% import "CpmJovenesBundle:Perfil:proyecto_box.macro.html.twig" as proyecto_box %}

{% block title %}  {% endblock %}

{% block content %}
Bienvenido/a {{usuario.nombre}}

<script>
	function cargar_proyecto(id) { 
		$("#detalle_proyecto").hide()
		$.post("{{ path('miproyecto_usuario') }}", 
				{id : id } ,
			    function(detalle) { $("#detalle_proyecto").html(detalle).show(); }
		);
		return false;
	}
	
	$(document).ready(function() { 
		$('#loading-indicator-mini')
		.hide()
	    .ajaxStart(function() {
	        $(this).show();
	    })
	    .ajaxStop(function() {
	        $(this).hide();
	    });
	});
</script>

	<ul id="user-actions" class="record_actions" style="float:right">
	    {% for accionUsuario in jym.getAccionesUsuario() %}
		<li>
			<a href="{{ path(accionUsuario.href) }}">{{accionUsuario.label}}</a>
		</li>
		{% endfor %}
	</ul>
 	<h4> 
	 	{% if proyectos|length == 0 %} 		
			No posee ningún proyecto 
		{% else %}
 			Usted posee {{ proyectos|length }} 
			{% if proyectos|length > 1 %}
				proyectos registrados 
			{% else %}
				proyecto registrado
			{% endif %}	
		{% endif %}
	</h4>
		
	<div id="loading-indicator-mini" class="cargando_detalle_proyecto"> &nbsp; </div> 
	<div id="detalle_proyecto"></div>		
	
	<ul class="mis_proyectos">
		{% for proyecto in proyectos %}
			<li>		             
		    	{{ proyecto_box.showSmall(proyecto) }}
		    </li>
		{% endfor %}
	</ul>
		        
{% endblock %}