{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}


{% block title %}Visualizando correos recibidos durante {{ciclo.anio}}{% endblock %}

{% block content %}
<script>
	function cargar_correo(id) { 
		$("#detalle_correo").hide()
		$.post("{{ path('ver_correo_usuario') }}", 
				{correo : id } ,
			    function(correo) { 
			    		$("#detalle_correo").html(correo).show();
			    }
		);
		return false;
	}
	
	$(document).ready(function() { 
		$('#loading-indicator-mini')
		.hide()
	    .ajaxStart(function() {
	        $(this).show();
	    })
	    .ajaxStop(function() {
	        $(this).hide();
	    });
	});
</script>

<ul class="">
    {% for cantEnCiclo in cantCorreosPorCiclo %}
    	<li>Correos de <a href="{{path('correos_usuario', {'ciclo': cantEnCiclo.0.id})}}">{{cantEnCiclo.0.anio}} ({{cantEnCiclo.cant}})</a><li>
    {% endfor %}
</ul>

<table class="records_list left-panel">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Asunto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('correo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.asunto }}</td>
            <td>
                <ul>
                    <li>
                        <a href="#" onclick="cargar_correo({{ entity.id }}); return false;">Ver</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    {% include "CpmJovenesBundle:Default:pagination.html.twig" %}
    </tbody>
</table>

	<div id="loading-indicator-mini" class="cargando_detalle_proyecto"> &nbsp; </div> 
	<div id="detalle_correo" class="right-panel"></div>		

{% endblock %}