{% macro nombreEscuela(escuela) %}
	{% if escuela.tipoInstitucion.id is defined %}
		{{ escuela.tipoInstitucion }}:  
		{{ escuela.tipoEscuela }}
	{% else %}
		{{ escuela.otroTipoInstitucion }}:
	{% endif %}		

	<strong>
	   	{% if escuela.numero %}
	    	N° {{ escuela.numero }}
	    {%endif%}
	    {{ escuela.nombre }}
	</strong>	
{% endmacro %}

{% macro showFull(proyecto) %}
	<div id="proyecto_fullbox">
<!-- 		<div class="operaciones"> -->
<!-- 			<a href="#" onclick="$('#detalle_proyecto').fadeOut(); "> <img src="/images/shared/close.png" /></a> -->
<!-- 		</div> Titulo: {{ proyecto.titulo }} -->


	{% if proyecto.invitaciones | length > 0 %}
	<div class="invitaciones">
		<div class="minimizer" onclick="$('.invitaciones .listado-items').toggle();"> - </div>
		<div class="invitacion">	
		    	<div class="many-pending"></div> Invitaciones a eventos 
		    	 
		 </div>   	
		<ul class="listado-items">
			{% for invitacion in proyecto.invitaciones %}
				<li class="actions">
					{{ invitacion.instanciaEvento.titulo }}
					{% if not invitacion.instanciaEvento.fue() %}
						<div class="status">
						{% if invitacion.estaPendiente %}
							{% if invitacion.estaVigente %}
								 <a href="{{path('abrir_invitacion', {id:invitacion.id,accion:'aceptar'})}}" class="actions">Confirmar</a>  
								 <a href="{{path('abrir_invitacion', {id:invitacion.id, accion:'rechazar'})}}">Rechazar</a>
							{% endif %}
							
						{% else %}
							{% if invitacion.aceptoInvitacion %}
								<span class='aceptado'>Confirmado</span>
								<a href="{{path('abrir_invitacion', {id:invitacion.id,accion:'aceptar'})}}">Modificar</a>
								<a href="{{ path('abrir_invitacion', { 'id': invitacion.id, accion: 'rechazar' }) }}">Cancelar Asistencia</a>
							{% else %}
								<span class='rechazado'>Rechazado</span>
								<a href="{{path('abrir_invitacion', {id:invitacion.id,accion:'aceptar'})}}">Aceptar Invitación</a>
							{% endif %}
							
    					{% endif %}
    					</div>
					{% endif %}
				</li>
			{%endfor %}
			</ul>
		</div>	

	  {% endif %}	
	    {% if proyecto.archivo %}
	    	<div class="download_link">
		    	<a href="{{ path('proyecto_descargar_presentacion',{ 'id' : proyecto.id}) }}" title="Descargar archivo {{ proyecto.archivo }}"> 
		    	 	&nbsp;
		    	</a>
	    	</div>
	    {% endif %}
		<h3>Integrantes</h3>
		<p>
			<b>Coordinador</b>: {{ proyecto.coordinador.nombre }} {{proyecto.coordinador.apellido}} &lt;<a href="mailto:{{proyecto.coordinador.email}}">{{proyecto.coordinador.email}}</a>&gt;{% if proyecto.esPrimeraVezDocente %}<sup>*</sup>{% endif %}		
		</p>
		{% if proyecto.colaboradores | length > 0 %}
			<p>
				<b>Colaboradores: </b>
				<ul class="colaboradores">
					{% for colaboradores in proyecto.colaboradores %}
						<li> {{colaboradores.nombre}} {{colaboradores.apellido}} &lt;<a href="mailto:{{colaboradores.email}}">{{colaboradores.email}}</a>&gt;</li>
					{% endfor %}
				</ul>
			</p>
		{% endif %}
			
		{% set escuela = proyecto.escuela %}
		<h3> Datos de la Escuela </h3>

		<p> 
			{{ _self.nombreEscuela(proyecto.escuela) }}
			{% if proyecto.esPrimeraVezEscuela %} <sup>**</sup> {% endif %}
		</p>
		<p> Domicilio {{ escuela.domicilio }} CP {{escuela.codigoPostal }} </p> 
		<p> Localidad {{escuela.localidad.nombre }} , Distrito {{ escuela.localidad.distrito }} </p>
		<p> Tel. {{ escuela.telefono }} / Email {{ escuela.email }} </p>
		<p> Director: {{ escuela.director }} </p>
		
		<h3> Acerca del proyecto </h3>
		<p> Cantidad de alumnos que participan: {{ proyecto.nroAlumnos }} 
		{% if proyecto.esPrimeraVezAlumnos %} <sup> *** </sup> {% endif %}
		</p>
		 
		<p> Tema principal: {{ proyecto.temaPrincipal }} </p>
		<p>  Producción Final: {{ proyecto.produccionFinal }} </p>
		
		<h4>¿De qué trata el proyecto?</h4>
		<p>  {{ proyecto.deQueSeTrata }} </p>
		
		<h4>¿Cuál es el motivo de su realización?</h4>
		<p>  {{ proyecto.motivoRealizacion }} </p>
		
		<h4>¿Cuál es el impacto buscado?</h4>
		<p>  {{ proyecto.impactoBuscado }} </p>
		<p> &nbsp; </p>
		{% if proyecto.esPrimeraVezDocente %} <p class="small_text"> <sup>*</sup>Primera vez que participa el docente</p> {% endif %}
		
		{% if proyecto.esPrimeraVezEscuela %} <p class="small_text"> <sup>**</sup> Primera vez que participa la escuela </p>{% endif %}
		
		{% if proyecto.esPrimeraVezAlumnos %} <p class="small_text"> <sup>***</sup> Primera vez que participan los alumnos </p> {% endif %}
		</div>
{% endmacro %}