<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>CPM - Programa J贸venes y Memoria - Diagramaci贸n de tanda</title>
	<link rel="stylesheet" href="{{ asset('css/screen.css') }}" />
	        <link rel="stylesheet" href="{{ asset('jquery/jquery-ui-1.10.3.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('bootstrap-2.3.2/css/bootstrap.css') }}" />
	        <script src="{{ asset('jquery/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
	        <script src="{{ asset('jquery/jquery-ui-1.10.3.min.js') }}" type="text/javascript"></script>
	        <script src="{{ asset('jquery/jquery.validate-1.11.1.min.js') }}" type="text/javascript"></script>
		 	<script src="{{ asset('jquery/jquery.validate-1.11.1-messages_es.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bootstrap-2.3.2/js/bootstrap.min.js') }}" type="text/javascript"></script>
	 <script>var BASE_PATH="{{app.request.getBasePath()}}";</script>
	<script src="{{ asset('ng/angular-1.1.5.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('ng/angular.resource-1.1.5.js') }}" type="text/javascript"></script>
	<script src="{{ asset('ng/angular-dragdrop-1.0.4.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('ng/cronograma/cronograma-organizer.js') }}" type="text/javascript"></script>
	<script src="{{ asset('ng/cronograma/ng-cronograma-app.js') }}" type="text/javascript"></script>
	<script src="{{ asset('ng/cronograma/ng-cronograma-model.js') }}" type="text/javascript"></script>
	<script src="{{ asset('ng/cronograma/ng-cronograma-controller.js') }}" type="text/javascript"></script>
	<script src="{{ asset('ng/angular-strap.min.js') }}" type="text/javascript"></script>
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
	
	<div id="page-top-top">
		<div id="page-top-top-title" class="row-fluid">
			<span class="span10" >
			<a href="http://www.comisionporlamemoria.org/">Comisi贸n provincial por la memoria</a> - 
			<a href="http://jovenesymemoria.comisionporlamemoria.net">Programa J贸venes y memoria</a>
			</span>
			<span class="span2" >
			<a href="{{path('tanda')}}" >Volver al listado de tandas</a>
			</span>
		</div>

	</div>
	<div class="clear"></div>

	{#% include 'CpmJovenesBundle:Layout:menu.html.twig' %#}
	<div class="clear"></div>

	<div class="container-fluid" ng-app="cronograma">
		<div class='ng-cloak '>
			<div  id="cronograma-view"  ng-view >
			
			</div>
		</div>
<!-- 		<div class='row-fluid '> -->
<!-- 			<div class="span8 offset2" ng-show="debug_console">{% raw %}{{debug_console}}{% endraw %}</div> -->
<!-- 		</div> -->
		
		
		
	</div>
	<div class="clear"></div>
	{% include 'CpmJovenesBundle:Layout:footer.html.twig' %}
</body>
</html>