{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Listado de Ciclos {% endblock %}

{% block content %}
{% set ciclo_activo=jym.getCicloActivo()%}

<div id="div-etapas">
	<h3>Etapas disponibles</h3><br/>
	<ul id="listado_etapas">
		{% for etapa in jym.getNombresEtapas() %}
			<li title="{{ etapa.descripcion }}">{{etapa.nombre}}
			</li>
		{% endfor %}
	</ul>

	<h3>Cambio de etapa</h3><br/>
	<ul id="acciones-sobre-etapas">
		{% if jym.hasEtapaAnterior() %}
			<li class="prev-label">
			<a href="{{path('goto_etapa_anterior')}}">Volver a la etapa anterior</a>
			</li>
		{% endif %}
		<li class="white-label">
			{{jym.getNombreEtapaActual()}}
		</li>
		{% if jym.hasEtapaSiguiente() %}
			<li class="next-label">
			<a href="{{path('goto_siguiente_etapa')}}">Pasar a la siguiente Etapa</a>
			</li>
		{% endif %}
	</ul>
	
	<div class="descripcion-etapa">
			{{jym.getDescripcionEtapaActual()}}
	</div>
	
</div>

<h3>Ciclos disponibles</h3><br/>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Activo</th>
            <th>Etapa Actual</th>
            <th>Acciones</th>
            <th>Ciclo activo</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('ciclo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.titulo }}</td>
            <td>{{ entity.activo?'Si':'No' }}</td>
            <td>{{ entity.etapaActual }}</td>
            <td>
                <ul>
                	<li>
                        <a href="{{ path('ciclo_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    {% if jym.puedeEditar(entity) %}
	                    <li>
	                        <a href="{{ path('ciclo_edit', { 'id': entity.id }) }}">Modificar</a>
	                    </li>
                    {% endif %}
                </ul>
            </td>
            <td style="text-align:center">
                 {% if ciclo_activo.id != entity.id and jym.puedeEditar(entity) %}
    	          <li>
    	            <a href="{{ path('ciclo_activate', { 'id': entity.id }) }}">Activar</a>
    	          </li>
        		 {% else %}
        		      <h3>X</h3>
        	     {% endif %}

    
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('ciclo_new') }}">
            Crear nuevo Ciclo
        </a>
    </li>
</ul>

{% endblock %}