{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Listado de bloques{% endblock %}

{% block content %}

<table class="records_list">
    <thead>
        <tr>
        <th>Id</th>
            <th>Nombre</th>
            <th>Hora de inicio</th>
            <th>Duración</th>
            <th>Tipo</th>
            <th>Dia y tanda</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id  }}</td>
            <td><a href="{{ path('bloque_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
            <td>{% if entity.horaInicio %}{{ entity.horaInicio|date('H:i') }}{% endif%}</td>
            <td>{{ entity.duracion }}</td>
            <td>{% if entity.tienePresentaciones %} Bloque de presentaciones ({{ entity.presentaciones | length }} asignadas){% else %} Bloque simple {% endif %} </td>
            <td> {{ entity.auditorioDia.dia }} </td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('bloque_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('bloque_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
            </td>
        	</tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('bloque_new') }}">
            Agregar bloque
        </a>
    </li>
</ul>
{% endblock %}