{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Correos{% endblock %}

{% block content %}

<script>
	function cargar_correo(id) { 
		$("#detalle_correo").hide()
		$.post("{{ path('correo_show') }}", 
				{correo : id } ,
			    function(correo) { 
			    		$("#detalle_correo").html(correo).show();
			    }
		);
		return false;
	}
	
	$(document).ready(function() { 
		$('#loading-indicator-mini')
		.hide()
	    .ajaxStart(function() {
	        $(this).show();
	    })
	    .ajaxStop(function() {
	        $(this).hide();
	    });
	});
</script>


<table class="records_list correos">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Para</th>
            <th>Asunto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="#" onclick="cargar_correo({{entity.id}})">{{ entity.id }}</a></td>
            <td>{% if entity.fecha %}{{ entity.fecha|date('d-m-Y H:i:s') }}{% endif%}</td>
            <td>{{ entity.destinatario.email }}</td>
            <td>{{ entity.asunto }}</td>
            <td>
                <ul>
                    <li>
                        <a href="#" onclick="cargar_correo({{entity.id}})">Ver</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    {% include "CpmJovenesBundle:Default:pagination.html.twig" %}
    </tbody>
</table>

	<div id="loading-indicator-mini" class="cargando_detalle_proyecto"> &nbsp; </div> 
	<div id="detalle_correo"></div>		

<!-- <ul> -->
<!--     <li> -->
<!--         <a href="{{ path('correo_new') }}"> -->
<!--             Agregar -->
<!--         </a> -->
<!--     </li> -->
<!-- </ul> -->
{% endblock %}