{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Correo{% endblock %}

{% block content %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Asunto</th>
            <td>{{ entity.asunto }}</td>
        </tr>
        <tr>
            <th>Cuerpo</th>
            <td>{{ entity.cuerpo }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('correo') }}">
            Volver al listado
        </a>
    </li>

</ul>
{% endblock %}