{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Correo {{ entity.id }}{% endblock %}

{% block content %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Fecha</th>
            <td>{{ entity.fecha|date('d-m-Y H:i:s') }}</td>
        </tr>
        <tr>
        	<th>De:</th>
        	<td>{%if entity.emisor %}{{ entity.emisor.apellido }}, {{ entity.emisor.nombre }}{%else%}Mail del sistema{%endif%}</td>
        </tr>	 
 
        <tr>
        	<th>Para Usuario:</th>
        	<td>{%if entity.destinatario %}{{ entity.destinatario.apellido }}, {{ entity.destinatario.nombre }} &lt; {{ entity.destinatario.email }} &gt;{%else%}Usuario Anónimo?{%endif%}</td>
        </tr>	
      
        <tr>
        	<th>Para email:</th>
        	<td>{{ entity.email }}</td>
        </tr>
 
        <tr>
        	<th>Sobre proyecto:</th>
        	<td>{%if entity.proyecto %}{{ entity.proyecto }}{%else%}Ninguno{%endif%}</td>
        </tr>	 
 
        <tr>
            <th>Asunto</th>
            <td>{{ entity.asunto }}</td>
        </tr>
        <tr>
            <th>Cuerpo</th>
            <td>{{ entity.cuerpo | raw}}</td>
        </tr>
        
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('correo') }}">
            Volver al listado de Correos
        </a>
    </li>
    <li>
        <a href="{{ path('correo_reenviar', {id: entity.id}) }}">
            Reenviar Este Correo
        </a>
    </li>
    <li>
        <a href="{{ path('correo_new') }}">
            Redactar Nuevo Correo
        </a>
    </li>
</ul>
{% endblock %}