{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}
{% import "CpmJovenesBundle:Common:macros.html.twig" as macros %}

{% block title %}Bloque{% endblock %}

{% block content %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Posicion</th>
            <td>{{ entity.posicion }}</td>
        </tr>
        <tr>
            <th>Hora de inicio</th>
            <td>{{ entity.horaInicio|date('H:i') }}</td>
        </tr>
        <tr>
            <th>Duración</th>
            <td>{{ entity.duracion }}</td>
        </tr>
        <tr>
            <th>Día</th>
            <td>{{ entity.auditorioDia.dia.numero}}</td>
        </tr>
        <tr>
            <th>Auditorio</th>
            <td>{{ entity.auditorioDia.auditorio.nombre }}</td>
        </tr>
        <tr>
        <th>Tipo</th>
            <td>{% if entity.tienePresentaciones %} Bloque de presentaciones {% else %} Bloque simple {% endif %}</td>
        </tr>

        {% if entity.ejesTematicos | length > 0 %}
        <tr>	
        	<th>Ejes temáticos</th>
            <td>{% for eje in entity.ejesTematicos %} {{ eje.nombre }}<br/>{% endfor %}</td>
        </tr>
        {% endif %}

        {% if entity.areasReferencia| length > 0 %}
        <tr>	
        	<th>Áreas de referencia</th>
            <td>{% for area in entity.areasReferencia %} {{ area.nombre }}<br/>{% endfor %}</td>
        </tr>
        {% endif %}
        
        
        {% if entity.tienePresentaciones and (entity.presentaciones | length > 0) %}
				<tr> 
					<th>Presentaciones</th>
					<td> 
						{{ macros.presentacionesDeBloque(entity) }}
					</td>
				</tr>        	
        {% endif %} 
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('bloque') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('bloque_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
	    
        <form action="{{ path('bloque_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('Esta seguro que desea eliminar el bloque?');">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
       
        
    </li>
</ul>
{% endblock %}