{% macro showFlashes(message_kind) %}
	{% if app.session.hasFlash(message_kind) %}
		<div class="{{message_kind}}-message">{{app.session.flash(message_kind)}}</div>
	{% endif %}		
{% endmacro %}

{{ _self.showFlashes('error') }}
{{ _self.showFlashes('success') }}
{{ _self.showFlashes('warning') }}
{{ _self.showFlashes('info') }}