<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">

<table>
<tr>
  <td><b> Nombre </b></td>
  <td><b> Apellido </b></td>
  <td><b> Fecha de Nacimiento </b></td>
  <td><b> Tipo de Documento </b></td>
  <td><b> Número de Documento </b></td>
  <td><b> Escuela </b></td>
  <td><b> Localidad </b></td>
</tr>
{% for invitado in invitados %}
  {% set inv = invitado['invitados'] %}
  {% set invitacion_aceptada = invitado['invitacion'] %}
  <tr>
    <td>{{ inv.nombre }}</td>
    <td>{{ inv.apellido }}</td>
    <td>{{ inv.fechaNac }}</td>
    <td>{{ inv.tipoDoc }}</td>
    <td>{{ inv.doc }}</td>
    <td>{{ invitacion_aceptada.proyecto.escuela }} </td>
    <td>{{ invitacion_aceptada.proyecto.escuela.localidad }} </td>
  </tr>
{% endfor %}

</table>
