{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Invitaciones{% endblock %}

{% block content %}

<table class="records_list">
    <thead>
        <tr>
	        <th>Evento</th>
            <th>Proyecto</th>
            <th>Coordinador</th>
            <th>Aceptó?</th>
            <th># Asistentes</th>
            <th>Solicita viaje?</th>
            <th>Solicita hospedaje?</th>
            <th>Observaciones</th>
            <th>Suplente</th>
            <th>Asistió</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
        	<td><a href="{{ path('instancia_show', { 'id': entity.instanciaEvento.id }) }}">{{ entity.instanciaEvento.titulo }}</a></td>
        	<td><a href="{{ path('proyecto_show', { 'id': entity.proyecto.id }) }}">{{ entity.proyecto.titulo | slice(0,50) }}</a></td>
        	<td><a href="{{ path('usuario_show', { 'id': entity.proyecto.coordinador.id }) }}">{{ entity.proyecto.coordinador.apellido }}, {{ entity.proyecto.coordinador.nombre }}</a></td>
        	
            <td>
            	{% if not entity.aceptoInvitacion is defined %}
            		?
            	{% else %}
            		{% if entity.aceptoInvitacion %}
            			Si
            		{% else %}
            			No
            		{% endif %}
            	{% endif %}
            </td>
            <td>{{ entity.numeroAsistentes }}</td>
            <td>{{ entity.solicitaViaje }}</td>
            <td>{{ entity.solicitaHospedaje }}</td>
            <td>{{ entity.observaciones }}</td>
            <td>{{ entity.suplente }}</td>
            <td>{{ entity.asistio }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('invitaciones_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('invitaciones_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    {% include "CpmJovenesBundle:Default:pagination.html.twig" %}
    </tbody>
</table>

<!-- <ul> -->
<!--     <li> -->
<!--         <a href="{{ path('ccc') }}"> -->
<!--             ccc -->
<!--         </a> -->
<!--     </li> -->
<!-- </ul> -->
{% endblock %}