{% extends 'CpmJovenesBundle:Layout:admin_layout.html.twig' %}

{% block title %}Escuelas{% endblock %}

{% block content %}

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tipo</th>
            <th>Número</th>
            <th>Nombre</th>
            <th>Tipo de Institución</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Domicilio</th>
            <th>Codigo Postal</th>
            <th>Director</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('escuela_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.tipoEscuela }}</td>
            <td>{{ entity.numero }}</td>            
            <td>{{ entity.nombre }}</td>
            <td>
            	{% if entity.tipoInstitucion is not null %}
            		{{ entity.tipoInstitucion.nombre }}
            	{% else %}	
            		{{ entity.otroTipoInstitucion }}
            	{% endif %}	
            </td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.telefono }}</td>
            <td>{{ entity.domicilio }}</td>
            <td>{{ entity.codigoPostal }}</td>
            <td>{{ entity.director }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('escuela_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('escuela_edit', { 'id': entity.id }) }}">Modificar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}